<div>
    <h2 id="page-heading">
        <span jhiTranslate="enisIntershipApp.studentEvaluation.home.title">Student Evaluations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student-evaluation" [routerLink]="['/student-evaluation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enisIntershipApp.studentEvaluation.home.createLabel">
            Create a new Student Evaluation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="studentEvaluations?.length === 0">
        <span jhiTranslate="enisIntershipApp.studentEvaluation.home.notFound">No studentEvaluations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="studentEvaluations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="communication"><span jhiTranslate="enisIntershipApp.studentEvaluation.communication">Communication</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="technical"><span jhiTranslate="enisIntershipApp.studentEvaluation.technical">Technical</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="student.id"><span jhiTranslate="enisIntershipApp.studentEvaluation.affectation">Affectation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="student.id"><span jhiTranslate="enisIntershipApp.studentEvaluation.student">Student</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="company.id"><span jhiTranslate="enisIntershipApp.studentEvaluation.company">Company</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let studentEvaluation of studentEvaluations ;trackBy: trackId">
                    <td><a [routerLink]="['/student-evaluation', studentEvaluation.id, 'view']">{{ studentEvaluation.id }}</a></td>
                    <td>{{ studentEvaluation.communication }}</td>
                    <td>{{ studentEvaluation.technical }}</td>
                    <td>
                        <div *ngIf="studentEvaluation.affectation">
                            <a [routerLink]="['/student', studentEvaluation.affectation?.id, 'view']" >{{ studentEvaluation.affectation?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="studentEvaluation.student">
                            <a [routerLink]="['/student', studentEvaluation.student?.id, 'view']" >{{ studentEvaluation.student?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="studentEvaluation.company">
                            <a [routerLink]="['/company', studentEvaluation.company?.id, 'view']" >{{ studentEvaluation.company?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/student-evaluation', studentEvaluation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/student-evaluation', studentEvaluation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(studentEvaluation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="studentEvaluations?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
