<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="studentEvaluation">
            <h2><span jhiTranslate="enisIntershipApp.studentEvaluation.detail.title">Student Evaluation</span> {{ studentEvaluation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enisIntershipApp.studentEvaluation.communication">Communication</span></dt>
                <dd>
                    <span>{{ studentEvaluation.communication }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.studentEvaluation.technical">Technical</span></dt>
                <dd>
                    <span>{{ studentEvaluation.technical }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.studentEvaluation.affectation">Affectation</span></dt>
                <dd>
                    <div *ngIf="studentEvaluation.affectation">
                        <a [routerLink]="['/affectation', studentEvaluation.affectation?.id, 'view']">{{ studentEvaluation.affectation?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.studentEvaluation.student">Student</span></dt>
                <dd>
                    <div *ngIf="studentEvaluation.student">
                        <a [routerLink]="['/student', studentEvaluation.student?.id, 'view']">{{ studentEvaluation.student?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.studentEvaluation.company">Company</span></dt>
                <dd>
                    <div *ngIf="studentEvaluation.company">
                        <a [routerLink]="['/company', studentEvaluation.company?.id, 'view']">{{ studentEvaluation.company?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student-evaluation', studentEvaluation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
