<form   (ngSubmit)="confirmInvitation()"
    name="editForm" role="form" novalidate [formGroup]="editForm">

    <div class="modal-header">

        <h4 class="modal-title">Invitation à un entretien</h4>

    </div>

    <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div *ngIf="application">
                <jhi-alert-error></jhi-alert-error>
                <div class="top-candidate-wrap">
                    <div class="top-candidate-box">
                        <span class="tpc-status" (click)="openFile(application?.cvContentType!, application?.cv)" >Voir CV</span>

                        <div class="tp-candidate-inner-box">
                            <div class="top-candidate-box-thumb" *ngIf="application.student">

                                <a (click)="openFile(application.student?.photoContentType!, application.student?.photo)">
                                    <img [src]="'data:' + application.student?.photoContentType + ';base64,' + application.student?.photo"class="img-responsive img-circle" alt="student image"/>
                                </a>
                            </div>
                            <div class="top-candidate-box-detail" *ngIf="application.student">
                                <h4 data-dismiss="modal" [routerLink]="['/views', application.student?.id, 'student-profile']">{{ application.student?.user.firstName }} {{ application.student?.user.lastName }}</h4>
                                <span class="desination">{{ application.student?.user?.email.toLowerCase()}}</span>
                            </div>

                        </div>
                        <div class="top-candidate-box-extra" *ngIf="application.student">
                            <ul>
                                <li class="more-skill bg-primary">{{ application.student?.level}}</li>
                                <li class="more-skill bg-primary" *ngIf="application.student?.department">{{ application.student?.department?.name}}</li>


                            </ul>

                        </div>
                    </div>
                    <!--<a class="btn btn-paid-candidate bt-1">Choisissez une date pour l'entretien</a>-->

                    <div class="form-group">
                        <a class="btn btn-paid-candidate bt-1">Choisissez une date pour l'entretien</a>
                        <select class="form-control" name="dateInterview" formControlName="dateInterview"  id="field_dateInterview">
                            <option selected>Choisissez une date pour l'entretien</option>
                            <option value= {{DatetoString(application.firstDisponibility)}}>{{ application.firstDisponibility | date:'medium' }}</option>
                            <option value= {{DatetoString(application.secondDisponibility)}}>{{ application.secondDisponibility | date:'medium' }} </option>
                            <option value= {{DatetoString(application.thirdDisponibility)}} > {{ application.thirdDisponibility | date:'medium'}} </option>
                        </select>
                        <div *ngIf="editForm.get('dateInterview')!.invalid && (editForm.get('dateInterview')!.dirty || editForm.get('dateInterview')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('dateInterview')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>

                        </div>
                    </div>

                </div>



            </div>


    </div>

    <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit"  class="btn btn-success">
            <i class="fas fa-ballot-check"></i>&nbsp;<span>Inviter</span>
        </button>

    </div>

</form>
