<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="internship">
            <h2><span jhiTranslate="enisIntershipApp.internship.detail.title">Internship</span> {{ internship.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enisIntershipApp.internship.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="internship.photo">
                        <a (click)="openFile(internship?.photoContentType!, internship?.photo)" jhiTranslate="entity.action.open">open</a>
                        {{ internship.photoContentType }}, {{ byteSize(internship.photo) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.internship.entitled">Entitled</span></dt>
                <dd>
                    <span>{{ internship.entitled }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.internship.description">Description</span></dt>
                <dd>
                    <span>{{ internship.description }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.internship.duration">Duration</span></dt>
                <dd>
                    <span>{{ internship.duration }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.internship.level">Level</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'enisIntershipApp.Level.' + internship.level }}">{{ internship.level }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.internship.domain">Domain</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'enisIntershipApp.Domain.' + internship.domain }}">{{ internship.domain }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.internship.brochure">Brochure</span></dt>
                <dd>
                    <div *ngIf="internship.brochure">
                        <a (click)="openFile(internship?.brochureContentType!, internship?.brochure)" jhiTranslate="entity.action.open">open</a>
                        {{ internship.brochureContentType }}, {{ byteSize(internship.brochure) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.internship.company">Company</span></dt>
                <dd>
                    <div *ngIf="internship.company">
                        <a [routerLink]="['/company', internship.company?.id, 'view']">{{ internship.company?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/internship', internship.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
