<div>
    <h2 id="page-heading">
        <span jhiTranslate="enisIntershipApp.internship.home.title">Internships</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-internship" [routerLink]="['/internship/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enisIntershipApp.internship.home.createLabel">
            Create a new Internship
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="internships?.length === 0">
        <span jhiTranslate="enisIntershipApp.internship.home.notFound">No internships found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="internships?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photo"><span jhiTranslate="enisIntershipApp.internship.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="entitled"><span jhiTranslate="enisIntershipApp.internship.entitled">Entitled</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="enisIntershipApp.internship.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duration"><span jhiTranslate="enisIntershipApp.internship.duration">Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="level"><span jhiTranslate="enisIntershipApp.internship.level">Level</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="domain"><span jhiTranslate="enisIntershipApp.internship.domain">Domain</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="brochure"><span jhiTranslate="enisIntershipApp.internship.brochure">Brochure</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="company.id"><span jhiTranslate="enisIntershipApp.internship.company">Company</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let internship of internships ;trackBy: trackId">
                    <td><a [routerLink]="['/internship', internship.id, 'view']">{{ internship.id }}</a></td>
                    <td>
                        <a *ngIf="internship.photo" (click)="openFile(internship.photoContentType, internship.photo)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="internship.photo">{{ internship.photoContentType }}, {{ byteSize(internship.photo) }}</span>
                    </td>
                    <td>{{ internship.entitled }}</td>
                    <td>{{ internship.description }}</td>
                    <td>{{ internship.duration }}</td>
                    <td jhiTranslate="{{ 'enisIntershipApp.Level.' + internship.level }}">{{ internship.level }}</td>
                    <td jhiTranslate="{{ 'enisIntershipApp.Domain.' + internship.domain }}">{{ internship.domain }}</td>
                    <td>
                        <a *ngIf="internship.brochure" (click)="openFile(internship.brochureContentType, internship.brochure)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="internship.brochure">{{ internship.brochureContentType }}, {{ byteSize(internship.brochure) }}</span>
                    </td>
                    <td>
                        <div *ngIf="internship.company">
                            <a [routerLink]="['/company', internship.company?.id, 'view']" >{{ internship.company?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/internship', internship.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/internship', internship.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(internship)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="internships?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
