<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-internship-heading" jhiTranslate="enisIntershipApp.internship.home.createOrEditLabel">Create or edit a Internship</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.photo" for="field_photo">Photo</label>
                    <div>
                        <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('photoContentType')!.value, editForm.get('photo')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({photo: null});editForm.patchValue({photoContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_photo" (change)="setFileData($event, 'photo', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="photo" id="field_photo"
                           formControlName="photo"/>
                    <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                           formControlName="photoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.entitled" for="field_entitled">Entitled</label>
                    <input type="text" class="form-control" name="entitled" id="field_entitled"
                           formControlName="entitled"/>
                    <div *ngIf="editForm.get('entitled')!.invalid && (editForm.get('entitled')!.dirty || editForm.get('entitled')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('entitled')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.duration" for="field_duration">Duration</label>
                    <input type="text" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                    <div *ngIf="editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty || editForm.get('duration')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duration')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.level" for="field_level">Level</label>
                    <select class="form-control" name="level" formControlName="level" id="field_level">
                        <option value="FIRSTYEAR">{{ 'enisIntershipApp.Level.FIRSTYEAR' | translate }}</option>
                        <option value="SECONDYEAR">{{ 'enisIntershipApp.Level.SECONDYEAR' | translate }}</option>
                        <option value="THIRDYEAR">{{ 'enisIntershipApp.Level.THIRDYEAR' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('level')!.invalid && (editForm.get('level')!.dirty || editForm.get('level')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('level')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.domain" for="field_domain">Domain</label>
                    <select class="form-control" name="domain" formControlName="domain" id="field_domain">
                        <option value="ELECTRONIC">{{ 'enisIntershipApp.Domain.ELECTRONIC' | translate }}</option>
                        <option value="BIOLOGY">{{ 'enisIntershipApp.Domain.BIOLOGY' | translate }}</option>
                        <option value="COMPUTERSCIENCE">{{ 'enisIntershipApp.Domain.COMPUTERSCIENCE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('domain')!.invalid && (editForm.get('domain')!.dirty || editForm.get('domain')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('domain')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.brochure" for="field_brochure">Brochure</label>
                    <div>
                        <div *ngIf="editForm.get('brochure')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('brochureContentType')!.value, editForm.get('brochure')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('brochureContentType')!.value }}, {{ byteSize(editForm.get('brochure')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({brochure: null});editForm.patchValue({brochureContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_brochure" (change)="setFileData($event, 'brochure', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="brochure" id="field_brochure"
                           formControlName="brochure"/>
                    <input type="hidden" class="form-control" name="brochureContentType" id="field_brochureContentType"
                           formControlName="brochureContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="company">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id === editForm.get('company')!.value?.id ? editForm.get('company')!.value : companyOption" *ngFor="let companyOption of companies; trackBy: trackById">{{ companyOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
