<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-interview-heading" jhiTranslate="enisIntershipApp.interview.home.createOrEditLabel">Create or edit a Interview</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('date')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.presence" for="field_presence">Presence</label>
                    <select class="form-control" name="presence" formControlName="presence" id="field_presence">
                        <option value="NONE">{{ 'enisIntershipApp.ATTENDANCE.NONE' | translate }}</option>
                        <option value="PRESENT">{{ 'enisIntershipApp.ATTENDANCE.PRESENT' | translate }}</option>
                        <option value="ABSENT">{{ 'enisIntershipApp.ATTENDANCE.ABSENT' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('presence')!.invalid && (editForm.get('presence')!.dirty || editForm.get('presence')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('presence')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.state" for="field_state">State</label>
                    <select class="form-control" name="state" formControlName="state" id="field_state">
                        <option value="NONE">{{ 'enisIntershipApp.STATE.NONE' | translate }}</option>
                        <option value="SUCCESS">{{ 'enisIntershipApp.STATE.SUCCESS' | translate }}</option>
                        <option value="FAILURE">{{ 'enisIntershipApp.STATE.FAILURE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('state')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.communication" for="field_communication">Communication</label>
                    <input type="text" class="form-control" name="communication" id="field_communication"
                           formControlName="communication"/>
                    <div *ngIf="editForm.get('communication')!.invalid && (editForm.get('communication')!.dirty || editForm.get('communication')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('communication')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.scoreCommunication" for="field_scoreCommunication">Score Communication</label>
                    <input type="number" class="form-control" name="scoreCommunication" id="field_scoreCommunication"
                           formControlName="scoreCommunication"/>
                    <div *ngIf="editForm.get('scoreCommunication')!.invalid && (editForm.get('scoreCommunication')!.dirty || editForm.get('scoreCommunication')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('scoreCommunication')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('scoreCommunication')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.technical" for="field_technical">Technical</label>
                    <input type="text" class="form-control" name="technical" id="field_technical"
                           formControlName="technical"/>
                    <div *ngIf="editForm.get('technical')!.invalid && (editForm.get('technical')!.dirty || editForm.get('technical')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('technical')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.scoretTechnical" for="field_scoretTechnical">Scoret Technical</label>
                    <input type="number" class="form-control" name="scoretTechnical" id="field_scoretTechnical"
                           formControlName="scoretTechnical"/>
                    <div *ngIf="editForm.get('scoretTechnical')!.invalid && (editForm.get('scoretTechnical')!.dirty || editForm.get('scoretTechnical')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('scoretTechnical')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('scoretTechnical')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.other" for="field_other">Other</label>
                    <input type="text" class="form-control" name="other" id="field_other"
                           formControlName="other"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.invitationInterview" for="field_invitationInterview">Invitation Interview</label>
                    <select class="form-control" id="field_invitationInterview" name="invitationInterview" formControlName="invitationInterview">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="invitationInterviewOption.id === editForm.get('invitationInterview')!.value?.id ? editForm.get('invitationInterview')!.value : invitationInterviewOption" *ngFor="let invitationInterviewOption of invitationinterviews; trackBy: trackById">{{ invitationInterviewOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="company">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id === editForm.get('company')!.value?.id ? editForm.get('company')!.value : companyOption" *ngFor="let companyOption of companies; trackBy: trackById">{{ companyOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.student" for="field_student">Student</label>
                    <select class="form-control" id="field_student" name="student" formControlName="student">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="studentOption.id === editForm.get('student')!.value?.id ? editForm.get('student')!.value : studentOption" *ngFor="let studentOption of students; trackBy: trackById">{{ studentOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.internship" for="field_internship">Internship</label>
                    <select class="form-control" id="field_internship" name="internship" formControlName="internship">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="internshipOption.id === editForm.get('internship')!.value?.id ? editForm.get('internship')!.value : internshipOption" *ngFor="let internshipOption of internships; trackBy: trackById">{{ internshipOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
