<form   (ngSubmit)="confirmEvaluatiton()"
name="editForm" role="form" novalidate [formGroup]="editForm">

    <div class="modal-header">

        <h4 class="modal-title">Donner votre avis</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body" *jhiHasAnyAuthority="'ROLE_COMPANY'" >
            <jhi-alert-error></jhi-alert-error>
            <p style="align-text: center;color: red">Veuillez attribuer une note pour chaque critère</p>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="enisIntershipApp.studentEvaluation.communication" for="field_communication">Communication</label>
                <input type="number" class="form-control" placeholder="Donner une note /5" name="communication" id="field_communication"
                   formControlName="communication"/>
                <div *ngIf="editForm.get('communication')!.invalid && (editForm.get('communication')!.dirty || editForm.get('communication')!.touched)">
                    <small class="form-text text-danger"
                       *ngIf="editForm.get('communication')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger"
                        [hidden]="!editForm.get('communication')?.errors?.number" jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="enisIntershipApp.studentEvaluation.technical" for="field_technical">Technical</label>
                <input type="number" class="form-control" placeholder="Donner une note /5" name="technical" id="field_technical"
                    formControlName="technical"/>
                <div *ngIf="editForm.get('technical')!.invalid && (editForm.get('technical')!.dirty || editForm.get('technical')!.touched)">
                    <small class="form-text text-danger"
                        *ngIf="editForm.get('technical')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                    </small>
                    <small class="form-text text-danger"
                        [hidden]="!editForm.get('technical')?.errors?.number" jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </small>
                </div>
            </div>
    </div>

    <div class="modal-body" *jhiHasAnyAuthority="'ROLE_STUDENT'">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="enisIntershipApp.companyEvaluation.supervision" for="field_supervision">Supervision</label>
            <input type="number" class="form-control" name="supervision" id="field_supervision"
                   formControlName="supervision"/>
            <div *ngIf="editForm.get('supervision')!.invalid && (editForm.get('supervision')!.dirty || editForm.get('supervision')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('supervision')?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.get('supervision')?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="enisIntershipApp.companyEvaluation.acceuil" for="field_acceuil">Acceuil</label>
            <input type="number" class="form-control" name="acceuil" id="field_acceuil"
                   formControlName="acceuil"/>
            <div *ngIf="editForm.get('acceuil')!.invalid && (editForm.get('acceuil')!.dirty || editForm.get('acceuil')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('acceuil')?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.get('acceuil')?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button id="jhi-confirm-delete-studentEvaluation" type="submit" class="btn btn-success">
            <i class="fas fa-ballot-check"></i>&nbsp;<span>Evaluer</span>
        </button>
    </div>

</form>
