<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deadline">
            <h2><span jhiTranslate="enisIntershipApp.deadline.detail.title">Deadline</span> {{ deadline.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enisIntershipApp.deadline.start">Start</span></dt>
                <dd>
                    <span>{{ deadline.start }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.deadline.end">End</span></dt>
                <dd>
                    <span>{{ deadline.end }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.deadline.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'enisIntershipApp.DEADLINES.' + deadline.type }}">{{ deadline.type }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/deadline', deadline.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
