<div>
    <h2 id="page-heading">
        <span jhiTranslate="enisIntershipApp.deadline.home.title">Deadlines</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-deadline" [routerLink]="['/deadline/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enisIntershipApp.deadline.home.createLabel">
            Create a new Deadline
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="deadlines?.length === 0">
        <span jhiTranslate="enisIntershipApp.deadline.home.notFound">No deadlines found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="deadlines?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.deadline.start">Start</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.deadline.end">End</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.deadline.type">Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deadline of deadlines ;trackBy: trackId">
                    <td><a [routerLink]="['/deadline', deadline.id, 'view']">{{ deadline.id }}</a></td>
                    <td>{{ deadline.start | date:'medium' }}</td>
                    <td>{{ deadline.end | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'enisIntershipApp.DEADLINES.' + deadline.type }}">{{ deadline.type }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/deadline', deadline.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/deadline', deadline.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(deadline)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
