
<form *ngIf="interview" (ngSubmit)="annuler(interview)" >
    <div class="modal-header" >
        <h4 class="modal-title"  >Refuser cet offre</h4>    
    </div>

    <div class="modal-body">
        <h5>Etes vous sûr de refuser cet offre ?</h5>
        <p style="margin-top: 30px;"><span style="color:red;font-size: 20px;text-decoration: underline;font-weight:500;margin-right: 20px;">NB:</span>              Votre choix est définitif et irréversible !!!! </p>
    </div>

    <div class="pull-right" style="margin-right: 2%;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span >Retour</span>
        </button>

        <button type="submit" class="btn btn-danger">
            <fa-icon icon="times"></fa-icon>&nbsp;<span>valider</span>
        </button>
    </div>
</form>
