<div class="footer">
    <!-- ============================ Call To Action ================================== -->
<section class="theme-bg call-to-act-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="call-to-act">
            <div class="call-to-act-head">
              <h3>Vous voulez devenir un employeur réussi?</h3>
              <span>Nous vous aiderons à développer votre carrière .</span>
            </div>
            <a  (click)="login()" class="btn btn-call-to-act">Se Connecter</a>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ============================ Call To Action End ================================== -->

  <!-- ============================ Before Footer ================================== -->
  
  <!-- ============================ Before Footer ================================== -->
<!-- ============================ Footer Start ================================== -->
<footer id="address" class="dark-footer skin-dark-footer">
    <div>
      <div class="container">
        <div class="row">

             
              <div class="col-lg-3 col-md-3">
                <div class="footer-widget"> 
                  <img src="../../../content/images/logo-jhipster.png"  style="max-width: 100%;" class="img-footer" alt="" />
                
            </div>
          </div>
          <div class="col-lg-2 col-md-2">
            <div class="footer-widget">
              <h4 class="widget-title">A propos de nous</h4>
            
          <h4 class="pt-2">Site Web</h4>
          <i style="color:#000"></i><a href="www.enis.rnu.tn"> www.enis.rnu.tn</a><br>
          <h4 class="pt-2">Adresse</h4>
          <i class="fas fa-telegram-plane" style="color:#000"></i> <a href="tel:+"> km 4 Route de la Soukra, Sfax 3038 </a><br>
          <h4 class="pt-2">Email</h4>
          <i class="fa fa-envelope" style="color:#000"></i> <a href="">@enis.tn</a><br>
          </div>
          </div>

          <div class="col-lg-2 col-md-2">
            <div class="footer-widget">
              <h4 class="widget-title">Nos Réseaux Sociaux</h4>
              <ul class="footer-menu">
                <li><a href="#"><i class="ti-linkedin"> Linkedin</i></a></li>
                <li><a href="#"><i class="ti-twitter"> Twitter</i></a></li>
               <li><a href="#"><i class="ti-facebook"> Facebook</i></a></li>
               <li><a href="#"><i class="ti-instagram"> Instagram</i></a></li>

              </ul>
            </div>
          </div>

          <div class="col-lg-2 col-md-2">
            <div class="footer-widget">
              <h4 class="widget-title">Votre Compte </h4>
              <ul class="footer-menu">
                <li><a class="nav-link" href="/#home">Accueil</a></li>
                <li><a  (click)="login()">Créer un Compte Entreprise</a></li>
                <li><a  (click)="login()">Vous Etes Etudiants</a></li>
                <li><a  (click)="login()">Vous Etes Recruteur</a></li>
                
              </ul>
            </div>
          </div>

          
          <div class="col-lg-3 col-md-3">
            <div class="footer-widget">
              <h4 class="widget-title">Download Apps</h4>
              <a href="#" class="other-store-link">
                <div class="other-store-app">
                  <div class="os-app-icon">
                    <i class="ti-android theme-cl"></i>
                  </div>
                  <div class="os-app-caps">
                    Google Play
                    
                  </div>
                </div>
              </a>
              <a href="#" class="other-store-link">
                <div class="other-store-app">
                  <div class="os-app-icon">
                    <i class="ti-apple theme-cl"></i>
                  </div>
                  <div class="os-app-caps">
                    App Store
                 
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    
  </footer>

  