<!-- Title Header Start -->
<section class="inner-header-title no-br advance-header-title light-tx" style="background-image:url(../../../../content/assets/assets/img/banner-10.jpg);">
    <div class="container">
        <h2>Résultat Entretien</h2>   
    </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->
<!-- ========== Begin: Brows job Category ===============  -->
<section class="advance-search">
    <!-- Sidebar Wrap -->
    <div  class="col-md-3 col-sm-12">
        <jhi-side-bar></jhi-side-bar>
   </div>
    <div class="container-fluid">
        <div class="col-md-8 col-sm-12">
            <div class="full-card">
                <div class="search- interships">
                    <input type="text" [(ngModel)]="searchText" style="font-family: FontAwesome;" placeholder="&#xF002; Recherche"  class="form-control">
                </div>
                <div class="card-body" *ngIf="interviews?.length > 0">
                    <table class="table table-hover">
                        <thead class="bg-info table-sm">
                          <tr>
                            <th scope="col"></th>
                            <th class="align" scope="col">Stage</th>
                            <th  scope="col">Détails Entretien</th>
                            <th scope="col">Résultat</th>
                            <th class="align" scope="col">Choix final</th>
                          </tr>   
                        </thead>
                        <tbody *ngFor="let interview of interviews | filter:searchText ; trackBy: trackId">
                            <tr>
                                <td></td>
                                <td> 
                                    <a href="http://themezhub.com/" title="job Detail">
                                        <div class="advance-search-img-box">
                                            <img [src]="'data:' + interview.company?.photoContentType  + ';base64,' + interview.company?.photo" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                    <div class="advance-search-caption">
                                        <a [routerLink]="['/views', interview.internship?.id, 'viewInternship']" title="Job Dtail"><h4>{{interview.internship?.entitled}}</h4></a>
                                        <span>{{interview.company?.nameCompany}}</span>
                                    </div>
                                </td>
                                <td>
                                    <button  class="btn btn-info" (click)="detail(interview)" >Voir Détail</button>										
                                </td>
                                <td>
                                    <div class="advance-search-job-locat">
                                        <p *ngIf="interview.state==='NONE'" class="badge badge-pill badge-secondary">non déclaré</p>
                                        <p *ngIf="interview.state==='SUCCESS'"   class="badge badge-pill badge-success"><i class="fa fa-check" ></i>Admis</p>
                                        <p *ngIf="interview.state==='FAILURE'"   class="badge badge-pill badge-danger"><i class="fa fa-times " ></i>Refusé</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="align">
                                        <div *ngIf="interview.studFinalChoice==='NONE'">
                                            <button  style="margin-left: 15%;" class="btn btn-success" (click)="confirmer(interview)" [disabled]="getResult(interview)" >Confirmer</button>
                                            <button  class="btn btn-danger" type="submit" (click)="annuler(interview)" [disabled]="getResult(interview)" >Refuser</button>
                                        </div>
                                       <div class="advance-search-job-locat">
                                            <p *ngIf="interview.studFinalChoice==='ACCEPTED'" class="j-type full-time" style=" text-align:center"><i class="fa fa-check" ></i>Confirmé</p>
                                            <p *ngIf="interview.studFinalChoice==='REFUSED'" class="j-type part-time" style="color: rgb(224, 8, 8); text-align:center"><i class="fa fa-times " ></i>Refusé</p>									
                                        </div>
                                    </div>
                                    
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                
                    <div *ngIf="interviews?.length > 0">
                      <div class="row justify-content-center">
                          <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                      </div>

                      <div class="row justify-content-center">
                          <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
