<!-- Title Header Start -->
<section class="inner-header-title no-br advance-header-title light-tx" style="background-image:url(../../../../content/assets/assets/img/banner-10.jpg);">
    <div class="container">
        <h2>Donner un résultat à un entretien</h2>
    </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->
<!-- ========== Begin: Brows job Category ===============  -->
<section class="advance-search">
    <div class="col-md-12">

    </div>
    <!-- Sidebar Wrap -->
    <div  class="col-md-4 col-sm-12">
        <jhi-side-bar></jhi-side-bar>
   </div>
    <div class="container-fluid">
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-wraps">
                        <div class="filter-wraps-one">
                            <i class="ti-search"></i>
                                <ul>
                                    <h2>Résultats affectations</h2>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="full-card">
                <div class="filter-wraps">

                    <div class="filter-wraps-one">

                        <div class="search- interships">
                            <input type="text" [(ngModel)]="searchText" style="font-family: FontAwesome;" placeholder="&#xF002; Recherche"  class="form-control">
                        </div>

                        <jhi-alert-error></jhi-alert-error>
                        <jhi-alert></jhi-alert>
                        <div class="alert alert-warning" id="no-result" *ngIf="interviews?.length === 0">
                            <span jhiTranslate="enisIntershipApp.interview.home.notFound">No interviews found</span>
                        </div>

                    </div>

                </div>

                <div class="card-body" *ngIf="interviews?.length > 0">
                    <table class="table table-hover">
                        <thead class="bg-info table-sm">
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Stage</th>
                            <th scope="col">Etudiant</th>
                            <th scope="col">Détails entretien</th>
                            <th scope="col">Résultat entretien</th>
                            <th scope="col">Réponse de l'étudiant</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let interview of interviews| filter:searchText ; trackBy: trackId">
                            <tr>
                                <td>  <div *ngIf="interview[0].internship?.photo"><img [src]="'data:' +  interview[0].internship?.photoContentType+ ';base64,' +  interview[0].internship?.photo" class="img-responsive" alt=""> </div></td>
                                <td>{{interview[0].entitled}}  </td>
                                <td><h6><a [routerLink]="['/views', interview[1].id, 'student-profile']">{{interview[1].user?.firstName}} {{interview[1].user?.lastName}} </a></h6></td>
                                <td><h5><a style=" text-align:center" (click)="detail(interview[3])" class="badge badge-info">détails</a></h5></td>
                                <td>
                                    <div style=" text-align:center" *ngIf="interview[3].state=='NONE'">

                                    <h5><a  style=" text-align:center" class="badge badge-warning" (click)="successInterview(interview[3])"> <i class="ti-cup"></i>&nbsp;<span>Réussite</span></a></h5>

                                    <h5><a style=" text-align:center" class="btn btn-danger" class="badge badge-danger" (click)="failureInterview(interview[3])"><i class="ti-close"></i>&nbsp;<span>Echec</span></a></h5>
                                    </div>
                                        <div>
                                            <p *ngIf="interview[3].state==='SUCCESS'"class="j-type full-time" style=" text-align:center"><i class="fa fa-check" ></i>REUSSITE</p>
                                            <p *ngIf="interview[3].state==='FAILURE'"class="j-type part-time" style="color: rgb(224, 8, 8); text-align:center"><i class="fa fa-times " ></i>ECHEC</p>

                                        </div>


                                </td>
                                <td>
                                    <span  *ngIf="interview[2] === 'NONE'" class="badge badge-pill badge-secondary" style=" text-align:center">{{interview[2]}}</span>


                                    <span *ngIf="interview[2] ==='ACCEPTED'" class="badge badge-pill badge-success" style=" text-align:center">{{interview[2]}}</span>


                                    <span *ngIf="interview[2] ==='REFUSED'" class="badge badge-pill badge-danger" style=" text-align:center">{{interview[2]}}</span>
                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>
                <div *ngIf="interviews?.length > 0">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>

                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
