<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url(../../../content/assets/assets/img/simple-banner.jpg);">
    <div class="container">
        <h1>invitations aux entretiens </h1>
    </div>
</section>
  <div class="clearfix"></div>
    <!-- General Detail Start -->
        <section class="advance-search">
            <div class="container col-md-11">
                <div class="row">

                    <div class="col-md-4 col-sm-12">
                        <jhi-side-bar></jhi-side-bar>
                    </div>

                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="filter-wraps">
                                    <div class="filter-wraps-one">
                                        <i class="ti-bag"></i>
                                            <ul>
                                                <h2>Mes invitations aux entretiens </h2>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row -->
                        <div class="row">
                            <jhi-alert-error></jhi-alert-error>
                            <jhi-alert></jhi-alert>
										<div class="alert alert-warning" id="no-result" *ngIf="invitationInterviews?.length === 0">
											<span jhiTranslate="enisIntershipApp.invitationInterview.home.notFound">No invitationInterviews found</span>
                                        </div>
                        </div> 
									<div  id="entities" *ngIf="invitationInterviews?.length > 0">
										<ul class="list" *ngFor="let invitationInterview of invitationInterviews ;trackBy: trackId">
											<li class="manage-list-row clearfix">
												<div class="job-info premium-job">
													<div class="job-img" *ngIf="invitationInterview.application?.internship.photo">
                                                        <a  (click)="openFile(invitationInterview.application?.internship?.photoContentType!, invitationInterview.application?.internship?.photo)">
                                                            <img [src]="'data:' + invitationInterview.application?.internship?.photoContentType + ';base64,' + invitationInterview.application?.internship?.photo" style="max-width: 100%;" alt="internship image"/>
                                                        </a>
													</div>
													<div class="job-details">
														<h3 class="job-name">{{invitationInterview.application?.internship?.entitled}} </h3>
														<div *ngIf="invitationInterview.company"><small class="job-company"><i class="ti-home"></i><a [routerLink]="['/views', invitationInterview.company?.id, 'profilesociety']">{{invitationInterview.company?.nameCompany}}</a></small></div>
													<small class="job-update cl-danger"><i class="ti-time"></i>{{ invitationInterview.dateInterview | date:'medium' }}</small>

														<button class="j-type full-time" style="border: none;" [routerLink]="['/views', invitationInterview.application?.internship?.id, 'viewInternship']">Voir détails offre</button>
													</div>
												</div>
												<div class="job-buttons" style="margin-top: 6%;">

													<button *ngIf="!invitationInterview.confirmation" type="submit" class="btn btn-success btn-sm"(click)="confirmer(invitationInterview)">Confirmer</button>
												     <span *ngIf="invitationInterview.confirmation==='true'" class="j-type full-time">Confirmé</span>
													 <button *ngIf="!invitationInterview.confirmation" type="submit" class="btn btn-danger btn-sm" (click)="annuler(invitationInterview)">Annuler</button>
													 <span *ngIf="invitationInterview.confirmation==='false'" class="j-type part-time">Annulé</span>

												</div>

											</li>
										</ul>
									
                                    <div *ngIf="invitationInterviews?.length > 0">
                                        <div class="row justify-content-center">
                                            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                                        </div>

                                        <div class="row justify-content-center">
                                            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                                        </div>

                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
			<!-- General Detail End -->


