<!-- Title Header Start -->
    <section class="inner-header-title" style="background-image:url(../../content/images/banner15.jpg);">
        <div class="container">
            <h1 _ngcontent-ikg-c173>Evalution lors d'un entretien</h1>
        </div>
    </section>
    <div class="clearfix"></div>

<div class="wrapper">

   <section class="inner-header-page">

        <div class="container" *ngIf="invitationInterview">

            <div class="col-md-8">

                <div class="left-side-container">
                    <div *ngIf="invitationInterview?.application?.student?.photo">

                        <a class="freelance-image"   (click)="openFile(invitationInterview.application?.student?.photoContentType!, invitationInterview.application?.student?.photo)">
                            <img [src]="'data:' + invitationInterview?.application?.student?.photoContentType! + ';base64,' + invitationInterview.application?.student?.photo"  alt="student image"/>
                        </a>

                    </div>

                    <div class="header-details">
                        <h4>{{invitationInterview?.application?.student?.user?.firstName}} {{invitationInterview.application?.student?.user?.lastName}}<span class="pull-right"></span></h4>
                        <p>{{invitationInterview?.application?.student?.level}}</p>
                        <ul>
                            <li><i class="fa fa-building"></i>Email</li>
                            <!--<li>
                                        <div class="star-rating" data-rating="4.2">
                                            <span class="fa fa-star fill"></span>
                                            <span class="fa fa-star fill"></span>
                                            <span class="fa fa-star fill"></span>
                                            <span class="fa fa-star fill"></span>
                                            <span class="fa fa-star-half fill"></span>
                                        </div>
                            </li>-->
                            <li><img class="flag"  alt=""> {{invitationInterview?.application?.student?.user?.email}}</li>

                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-4 bl-1 br-gary">
                <div class="right-side-detail">
                    <ul>
                      <!--<li><span class="detail-info">Availability</span>Full Time<span class="available-status">Available</span></li>-->
                        <li><span class="detail-info">Pays</span>{{invitationInterview?.application?.student?.country}}</li>
                        <li><span class="detail-info">Ville</span>{{invitationInterview?.application?.student?.city}}</li>
                        <li><span class="detail-info">Niveau</span>{{invitationInterview?.application?.student?.level}}</li>
                        <li><span class="detail-info">Num téléphone</span>{{invitationInterview?.application?.student?.phoneNumber}}</li>
                    </ul>
                    <!--<ul class="social-info">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>-->
                </div>
            </div>
        </div>


    </section>
    <!----pour editer  <section class="inner-header-page" *ngIf="interview">


        <div class="container">

            <div class="col-md-8" >

                <div class="left-side-container" >
                    <div *ngIf="interview!.invitationInterview?.application?.student?.photo">

                        <a (click)="openFile(interview!.invitationInterview?.application?.student?.photoContentType!, interview.invitationInterview.application?.student?.photo)">
                        <img  class="freelance-image"  [src]="'data:' + interview.invitationInterview.application?.student?.photoContentType! + ';base64,' + interview.invitationInterview.application?.student?.photo"  alt="student image"/>
                    </a>

                    </div>

                    <div class="header-details">
                        <h4>{{interview!.invitationInterview?.application?.student?.user?.firstName}} {{interview!.invitationInterview?.application?.student?.user?.lastName}}<span class="pull-right"></span></h4>
                        <p>{{interview!.invitationInterview?.application?.student?.level}}</p>
                        <ul>
                            <li><a href="http://themezhub.com/"><i class="fa fa-building"></i>Email</a></li>
                        --><!--commentaire par defaut  < <li>
                                <div class="star-rating" data-rating="4.2">
                                    <span class="fa fa-star fill"></span>
                                    <span class="fa fa-star fill"></span>
                                    <span class="fa fa-star fill"></span>
                                    <span class="fa fa-star fill"></span>
                                    <span class="fa fa-star-half fill"></span>
                                </div>
                            </li>-->
                        <!---- <li><img class="flag"  alt=""> {{interview!.invitationInterview?.application?.student?.user?.email}}</li>
                            <li><div class="verified-action">Verified</div></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-4 bl-1 br-gary">
                <div class="right-side-detail">
                    <ul>
                    -->  <!--commentaire par defaut <li><span class="detail-info">Availability</span>Full Time<span class="available-status">Available</span></li>-->
                   <!---- <li><span class="detail-info">Pays</span>{{interview!.invitationInterview?.application?.student?.country}}</li>
                        <li><span class="detail-info">Ville</span>{{interview!.invitationInterview?.application?.student?.city}}</li>
                        <li><span class="detail-info">Niveau</span>{{interview!.invitationInterview?.application?.student?.level}}</li>
                        <li><span class="detail-info">Num téléphone</span>{{interview!.invitationInterview?.application?.student?.phoneNumber}}</li>
                    </ul>
                    <ul class="social-info">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
           </div>


    </section>-->

        <div class="row justify-content-center">
            <div class="col-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">


                    <div>
                        <jhi-alert-error></jhi-alert-error>

                        <div class="form-group" [hidden]="!editForm.get('id')!.value">

                            <input type="text" class="form-control" id="id" name="id" formControlName="id" hidden />
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.date" for="field_date">Date</label>
                            <div class="d-flex">
                                <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                            </div>
                            <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.get('date')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                                    This field should be a date and time.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.presence" for="field_presence">Presence</label>
                            <select class="form-control" name="presence" formControlName="presence" id="field_presence">
                                <option value="NONE">{{ 'enisIntershipApp.ATTENDANCE.NONE' | translate }}</option>
                                <option value="PRESENT">{{ 'enisIntershipApp.ATTENDANCE.PRESENT' | translate }}</option>
                                <option value="ABSENT">{{ 'enisIntershipApp.ATTENDANCE.ABSENT' | translate }}</option>
                            </select>
                            <div *ngIf="editForm.get('presence')!.invalid && (editForm.get('presence')!.dirty || editForm.get('presence')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('presence')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.state" for="field_state">State</label>
                            <select class="form-control" name="state" formControlName="state" id="field_state">
                                <option value="NONE">{{ 'enisIntershipApp.STATE.NONE' | translate }}</option>
                                <option value="SUCCESS">{{ 'enisIntershipApp.STATE.SUCCESS' | translate }}</option>
                                <option value="FAILURE">{{ 'enisIntershipApp.STATE.FAILURE' | translate }}</option>

                            </select>

                        </div>-->

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.communication" for="field_communication">Communication</label>
                            <input type="text" class="form-control" name="communication" id="field_communication"
                                   formControlName="communication"/>
                            <div *ngIf="editForm.get('communication')!.invalid && (editForm.get('communication')!.dirty || editForm.get('communication')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('communication')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.scoreCommunication" for="field_scoreCommunication">Score Communication</label>
                            <input type="number" class="form-control" name="scoreCommunication" id="field_scoreCommunication"
                                   formControlName="scoreCommunication"/>
                            <div *ngIf="editForm.get('scoreCommunication')!.invalid && (editForm.get('scoreCommunication')!.dirty || editForm.get('scoreCommunication')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('scoreCommunication')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.get('scoreCommunication')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.technical" for="field_technical">Technical</label>
                            <input type="text" class="form-control" name="technical" id="field_technical"
                                   formControlName="technical"/>
                            <div *ngIf="editForm.get('technical')!.invalid && (editForm.get('technical')!.dirty || editForm.get('technical')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('technical')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_scoretTechnical">Score Technical</label>
                            <input type="number" class="form-control" name="scoretTechnical" id="field_scoretTechnical"
                                   formControlName="scoretTechnical"/>
                            <div *ngIf="editForm.get('scoretTechnical')!.invalid && (editForm.get('scoretTechnical')!.dirty || editForm.get('scoretTechnical')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('scoretTechnical')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.get('scoretTechnical')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="enisIntershipApp.interview.other" for="field_other">Other</label>
                            <input type="text" class="form-control" name="other" id="field_other"
                                   formControlName="other"/>
                        </div>


                    </div>

                    <hr>
                    <div class="col-md-12 text-center">

                        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>

                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-success" >
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
    </div>
</div>




