<div class="clearfix"></div>

			<!-- Header Title Start -->
			<section class="inner-header-title blank" style="background-image:url(../../content/images/banner-10.jpg);">
				<div class="container">
					<h1>Modifier Société</h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Header Title End -->

			<!-- General Detail Start -->
			<div class="detail-desc section">
				<div class="container">
					<div class="ur-detail-wrap create-kit padd-bot-0">

                        <form class="add-feild" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group" [hidden]="!editForm.get('id')!.value">

                                <input type="text" class="form-control" id="id" name="id" formControlName="id" hidden />
                            </div>


                            <div class="row bottom-mrg">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="enisIntershipApp.company.photo" for="field_photo"></label>
                                    <div class="detail-pic js">
                                    <div class="box">

                                        <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">

                                            <a class="pull-left" (click)="openFile(editForm.get('photoContentType')!.value, editForm.get('photo')!.value)">
                                                <img [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value" style="max-height: 100px;" *ngIf="editForm.get('photo')!.value" alt="company image"/>
                                            </a><br>



                                        </div>
                                        <input type="file"  id="upload-pic" class="inputfile" (change)="setFileData($event, 'photo', false)" jhiTranslate="entity.action.addblob"/>
                                        <label for="upload-pic"><i class="fa fa-upload" aria-hidden="true"></i></label>
                                    </div>
                                    </div>
                                    <input type="hidden" class="form-control" name="photo" id="field_photo"
                                    formControlName="photo"/>
                                     <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                                    formControlName="photoContentType" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label class="form-control-label"  for="field_nameCompany">Nom Société</label>
                                <input type="text" class="form-control" name="nameCompany" id="field_nameCompany"
                                       formControlName="nameCompany"/>
                                <div *ngIf="editForm.get('nameCompany')!.invalid && (editForm.get('nameCompany')!.dirty || editForm.get('nameCompany')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('nameCompany')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                           formControlName="email">

                                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty ||editForm.get('email')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('email')?.errors?.required"
                                               jhiTranslate="global.messages.validate.email.required">
                                            Your email is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('email')?.errors?.email"
                                               jhiTranslate="global.messages.validate.email.invalid">
                                            Your email is invalid.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('email')?.errors?.minlength"
                                               jhiTranslate="global.messages.validate.email.minlength">
                                            Your email is required to be at least 5 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('email')?.errors?.maxlength"
                                               jhiTranslate="global.messages.validate.email.maxlength">
                                            Your email cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label"  for="field_city">Ville</label>
                                    <input type="text" class="form-control" name="city" id="field_city"
                                           formControlName="city"/>
                                    <div *ngIf="editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('city')?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="field_country">Pays</label>
                                    <input type="text" class="form-control" name="country" id="field_country"
                                           formControlName="country"/>
                                    <div *ngIf="editForm.get('country')!.invalid && (editForm.get('country')!.dirty || editForm.get('country')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('country')?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label"  for="field_websiteCompany">Site Web</label>
                                    <input type="text" class="form-control" name="websiteCompany" id="field_websiteCompany"
                                           formControlName="websiteCompany"/>
                                </div>


                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="field_postalCode">Code Postale</label>
                                    <input type="number" class="form-control" name="postalCode" id="field_postalCode"
                                           formControlName="postalCode"/>
                                    <div *ngIf="editForm.get('postalCode')!.invalid && (editForm.get('postalCode')!.dirty || editForm.get('postalCode')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('postalCode')?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                        </small>
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.get('postalCode')?.errors?.number" jhiTranslate="entity.validation.number">
                                            This field should be a number.
                                        </small>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 col-sm-6">
                                <label class="form-control-label"  for="field_phoneNumber">Telephone</label>
                                <input type="number" class="form-control" name="phoneNumber" id="field_phoneNumber"
                                       formControlName="phoneNumber"/>
                                <div *ngIf="editForm.get('phoneNumber')!.invalid && (editForm.get('phoneNumber')!.dirty || editForm.get('phoneNumber')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('phoneNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                        [hidden]="!editForm.get('phoneNumber')?.errors?.number" jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>



                            <div class="col-md-6 col-sm-6">
                                <label class="form-control-label" jhiTranslate="enisIntershipApp.company.description" for="field_description">Description</label>
                                <textarea class="form-control" name="description" id="field_description" formControlName="description"></textarea>
                                <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                    </small>
                                </div>
                            </div>



                        <div class="row no-padd">
                            <div class="detail pannel-footer">
                                <div class="col-md-12  text-center">
                                    <div>
                                        <button type="submit" id="save-entity"
                                        [disabled]="editForm.invalid || isSaving" class="btn btn-success" >
                                        <fa-icon icon="save"></fa-icon>&nbsp;<span >Enregistrer</span>

                                        </button>


                                        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
            </div>
        </div>
    </div>






