<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-application-heading" jhiTranslate="enisIntershipApp.application.home.createOrEditLabel">Create or edit a Application</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.application.cv" for="field_cv">Cv</label>
                    <div>
                        <div *ngIf="editForm.get('cv')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('cvContentType')!.value, editForm.get('cv')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('cvContentType')!.value }}, {{ byteSize(editForm.get('cv')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({cv: null});editForm.patchValue({cvContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_cv" (change)="setFileData($event, 'cv', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="cv" id="field_cv"
                           formControlName="cv"/>
                    <input type="hidden" class="form-control" name="cvContentType" id="field_cvContentType"
                           formControlName="cvContentType" />
                    <div *ngIf="editForm.get('cv')!.invalid && (editForm.get('cv')!.dirty || editForm.get('cv')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cv')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.application.firstDisponibility" for="field_firstDisponibility">First Disponibility</label>
                    <div class="d-flex">
                        <input id="field_firstDisponibility" type="datetime-local" class="form-control" name="firstDisponibility" formControlName="firstDisponibility" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('firstDisponibility')!.invalid && (editForm.get('firstDisponibility')!.dirty || editForm.get('firstDisponibility')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstDisponibility')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('firstDisponibility')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.application.secondDisponibility" for="field_secondDisponibility">Second Disponibility</label>
                    <div class="d-flex">
                        <input id="field_secondDisponibility" type="datetime-local" class="form-control" name="secondDisponibility" formControlName="secondDisponibility" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('secondDisponibility')!.invalid && (editForm.get('secondDisponibility')!.dirty || editForm.get('secondDisponibility')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('secondDisponibility')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('secondDisponibility')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.application.thirdDisponibility" for="field_thirdDisponibility">Third Disponibility</label>
                    <div class="d-flex">
                        <input id="field_thirdDisponibility" type="datetime-local" class="form-control" name="thirdDisponibility" formControlName="thirdDisponibility" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('thirdDisponibility')!.invalid && (editForm.get('thirdDisponibility')!.dirty || editForm.get('thirdDisponibility')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('thirdDisponibility')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('thirdDisponibility')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.application.student" for="field_student">Student</label>
                    <select class="form-control" id="field_student" name="student" formControlName="student">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="studentOption.id === editForm.get('student')!.value?.id ? editForm.get('student')!.value : studentOption" *ngFor="let studentOption of students; trackBy: trackById">{{ studentOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.application.internship" for="field_internship">Internship</label>
                    <select class="form-control" id="field_internship" name="internship" formControlName="internship">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="internshipOption.id === editForm.get('internship')!.value?.id ? editForm.get('internship')!.value : internshipOption" *ngFor="let internshipOption of internships; trackBy: trackById">{{ internshipOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
