<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="application">
            <h2><span jhiTranslate="enisIntershipApp.application.detail.title">Application</span> {{ application.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enisIntershipApp.application.cv">Cv</span></dt>
                <dd>
                    <div *ngIf="application.cv">
                        <a (click)="openFile(application?.cvContentType!, application?.cv)" jhiTranslate="entity.action.open">open</a>
                        {{ application.cvContentType }}, {{ byteSize(application.cv) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.application.firstDisponibility">First Disponibility</span></dt>
                <dd>
                    <span>{{ application.firstDisponibility }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.application.secondDisponibility">Second Disponibility</span></dt>
                <dd>
                    <span>{{ application.secondDisponibility }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.application.thirdDisponibility">Third Disponibility</span></dt>
                <dd>
                    <span>{{ application.thirdDisponibility }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.application.student">Student</span></dt>
                <dd>
                    <div *ngIf="application.student">
                        <a [routerLink]="['/student', application.student?.id, 'view']">{{ application.student?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.application.internship">Internship</span></dt>
                <dd>
                    <div *ngIf="application.internship">
                        <a [routerLink]="['/internship', application.internship?.id, 'view']">{{ application.internship?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application', application.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
