<div>
    <h2 id="page-heading">
        <span jhiTranslate="enisIntershipApp.application.home.title">Applications</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application" [routerLink]="['/application/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enisIntershipApp.application.home.createLabel">
            Create a new Application
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="applications?.length === 0">
        <span jhiTranslate="enisIntershipApp.application.home.notFound">No applications found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="applications?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cv"><span jhiTranslate="enisIntershipApp.application.cv">Cv</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstDisponibility"><span jhiTranslate="enisIntershipApp.application.firstDisponibility">First Disponibility</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="secondDisponibility"><span jhiTranslate="enisIntershipApp.application.secondDisponibility">Second Disponibility</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thirdDisponibility"><span jhiTranslate="enisIntershipApp.application.thirdDisponibility">Third Disponibility</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="student.id"><span jhiTranslate="enisIntershipApp.application.student">Student</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="internship.id"><span jhiTranslate="enisIntershipApp.application.internship">Internship</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let application of applications ;trackBy: trackId">
                    <td><a [routerLink]="['/application', application.id, 'view']">{{ application.id }}</a></td>
                    <td>
                        <a *ngIf="application.cv" (click)="openFile(application.cvContentType, application.cv)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="application.cv">{{ application.cvContentType }}, {{ byteSize(application.cv) }}</span>
                    </td>
                    <td>{{ application.firstDisponibility | date:'medium' }}</td>
                    <td>{{ application.secondDisponibility | date:'medium' }}</td>
                    <td>{{ application.thirdDisponibility | date:'medium' }}</td>
                    <td>
                        <div *ngIf="application.student">
                            <a [routerLink]="['/student', application.student?.id, 'view']" >{{ application.student?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="application.internship">
                            <a [routerLink]="['/internship', application.internship?.id, 'view']" >{{ application.internship?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/application', application.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/application', application.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(application)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="applications?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
