<form *ngIf="invitationInterview" name="confirmationForm" (ngSubmit)="confirm(invitationInterview)">
    <div class="modal-header">
        <h4 class="modal-title" >Confirmer votre présence à cet entretien</h4>

    </div>

    <div class="modal-body">
        

        <h5>Voulez vous confirmer votre présence a cet entretien</h5>
    </div>

    <div class="pull-right" style="margin-right: 2%;">
        <button type="button" class="btn btn-secondary"  (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span >Retour</span>
        </button>

        <button  type="submit" class="btn btn-success">
           <span>Confirmer</span>
        </button>
    </div>
</form>
