
<form name="confirmationForm" (ngSubmit)="confirmAffectation(interview)" >
    <div class="modal-header" >
        <h4 class="modal-title"  >Accepter cet offre</h4>    
    </div>

    <div class="modal-body">
        <h5>Etes vous sûr d'accepter cet offre ?</h5>
        <p style="margin-top: 30px;"><span style="color:red;font-size: 20px;text-decoration: underline;font-weight:500;margin-right: 20px;">NB:</span> 
                       Vous avez le droit de choisir une seule offre de stage à laquelle vous serez affectés <br> 
                       <span style="color:red ;margin-left:55px"> <b>Votre choix est définitif et irréversible !!!!</b></span> </p>
    </div>

    <div class="pull-right" style="margin-right: 2%;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span >Retour</span>
        </button>

        <button  type="submit" class="btn btn-success">
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Confirmer</span>
        </button>
    </div>
</form>
