<section class="inner-header-title" style="background-image:url(../../../../content/images/stages.jpg);">
    <div class="container">
        <h1>Liste des Stages</h1>
    </div>
  </section>


<section class="advance-search">
    <!-- General Detail Start -->

    <div class="container col-md-11">
        <div class="row">
          <!-- Sidebar Wrap -->
            <div class="col-md-4 col-sm-12">
                <jhi-side-bar></jhi-side-bar>
            </div>



          <!-- Content Wrap -->
            <div class="col-md-8 col-sm-12">


            <!--Filter -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-wraps">
                            <div class="filter-wraps-one">
                                <h5 style="font-family:'Times New Roman', Times, serif; font-size: 150%;"><i class="ti-bookmark-alt"></i> Tous les offres déposés</h5>
                            </div>
                            <button id="jh-create-entity" style="margin-left: 30%;" class="btn btn-success float-right jh-create-entity create-internship" [routerLink]="['/views/newInternship']">
                                <fa-icon icon="plus"></fa-icon>
                                <span>
                                    Créer un offre de stage
                                </span>
                            </button>
                        </div>


                        <div class="dashboard-caption-wrap">
                        <!-- row -->

                            <div class="row">

                                <jhi-alert-error></jhi-alert-error>

                                <jhi-alert></jhi-alert>
                                <div class="alert alert-warning" id="no-result" *ngIf="internships?.length === 0">
                                    <span jhiTranslate="enisIntershipApp.internship.home.notFound">No internships found</span>
                                </div>
                            </div>
                        <!-- row -->
                            <div  id="entities" *ngIf="internships?.length > 0"></div>
                                    <ul class="list"*ngFor="let internship of internships ;trackBy: trackId">
                                        <li class="manage-list-row clearfix">
                                            <div class="job-info premium-job">
                                                <div class="job-img">
                                                    <a *ngIf="internship.photo" (click)="openFile(internship.photoContentType, internship.photo)">
                                                    <img [src]="'data:' + internship.photoContentType + ';base64,' + internship.photo" style="max-height: 50px;" alt="internship image"
                                                    class="attachment-thumbnail" alt="Offre image"/>
                                                    </a>

                                                </div>
                                                <div class="job-details">
                                                    <a><h5 class="job-name">{{ internship.entitled }}
                                                        <span class="badge badge-success">{{ internship.domain }}</span>
                                                    </h5></a>
                                                    <h6>

                                                        <span class="badge badge-secondary">{{ internship.level }}</span>
                                                        <span class="badge badge-secondary">{{ internship.duration }}</span>
                                                    </h6>

                                                </div>
                                            </div>
                                            <div class="job-buttons">

                                                <a [routerLink]="['/views', internship.id, 'listeInterns']"  class="btn btn-success manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-arrow-right"></i>Liste de stagaires</a>

                                                <a [routerLink]="['/views', internship.id, 'editerOffre']" class="btn btn-info manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-pencil-alt"></i></a>

                                                <a  class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="effacer la postulation" (click)="delete(internship)"><i class="ti-close"></i></a>

                                                <a *ngIf="internship.brochure" (click)="openFile(internship.brochureContentType, internship.brochure)" jhiTranslate="entity.action.open" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-archive"></i></a>
                                            </div>
                                        </li>
                                    </ul>

                                    <div *ngIf="internships?.length > 0">

                                        <div class="row justify-content-center">
                                            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                                        </div>

                                        <div class="row justify-content-center">
                                            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                                        </div>

                                    </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
      </div>

    <!-- General Detail End -->
</section>















