<!-- Title Header Start -->
<section class="inner-header-title no-br advance-header-title light-tx" style="background-image:url(../../../../content/assets/assets/img/banner-10.jpg);">
    <div class="container">
        <h2>Résultat Entretien</h2>   
    </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->
