<!-- Title Header Start -->
<section class="inner-header-title no-br advance-header-title light-tx" style="background-image:url(../../../../content/assets/assets/img/banner-10.jpg);">
    <div class="container">
        <h2>Résultat Entretien</h2>   
    </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->
<!-- ========== Begin: Brows job Category ===============  -->
<section class="brows-job-category gray-bg">
    <!-- Sidebar Wrap -->
    <div  class="col-md-4 col-sm-12">
        <jhi-side-bar></jhi-side-bar>
   </div>
    <div class="container-fluid">
        <div class="col-md-8 col-sm-12">
            <div class="full-card">
                <div class="card-header">
                    <div class="  row mrg-0 ">
                        <div class="col-md-5 col-sm-6">
                            <p style="text-align:center"><b>Offre</b></p>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <p style="text-align:center"><b>Détail Entretiens</b></p>
                        </div>
                        <div  class="col-md-2 col-sm-2">
                            <p style="text-align:center" ><b>Résultat</b></p>
                        </div>
                        <div class="col-md-3 col-sm-2">
                            <p style="text-align:center" > <b >Choix final</b></p>
                        </div>              
                    </div>
                </div>
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
                <div class="alert alert-warning" id="no-result" *ngIf="interviews?.length === 0">
                    <span jhiTranslate="enisIntershipApp.interview.home.notFound">No interviews found</span>
                </div>
                <div class="card-body" *ngIf="interviews?.length > 0">
                    <article class="advance-search-job" *ngFor="let interview of interviews ;trackBy: trackId">
                        <div class="row no-mrg">
                                <!--<button type="submit" class="close"  aria-hidden="true" (click)="deleate()">&times;</button>-->
                                <div class="col-md-5 col-sm-6">
                                    <a href="http://themezhub.com/" title="job Detail">
                                        <div class="advance-search-img-box">
                                            <img [src]="'data:' + interview.company?.photoContentType  + ';base64,' + interview.company?.photo" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                    <div class="advance-search-caption">
                                        <a href="http://themezhub.com/" title="Job Dtail"><h4>{{interview.internship?.entitled}}</h4></a>
                                        <span>{{interview.company?.nameCompany}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                     <button  class="btn btn-info">Voir Détail</button>										
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="advance-search-job-locat">
                                        <p style="color: #11b719; text-align:center"><i class="fa fa-check" ></i>Admis</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2">
                                    <button style="margin-left: 5%;" class="btn btn-success">Confirmé</button>
                                    <button  class="btn btn-danger">Refusé</button>										
                                </div>            
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
