<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-department-heading" jhiTranslate="enisIntershipApp.department.home.createOrEditLabel">Create or edit a Department</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.department.name" for="field_name">Name</label>
                    <select class="form-control" name="name" formControlName="name" id="field_name">
                        <option value="ELECTRONIC">{{ 'enisIntershipApp.Domain.ELECTRONIC' | translate }}</option>
                        <option value="BIOLOGY">{{ 'enisIntershipApp.Domain.BIOLOGY' | translate }}</option>
                        <option value="COMPUTERSCIENCE">{{ 'enisIntershipApp.Domain.COMPUTERSCIENCE' | translate }}</option>
                        <option value="CIVIL">{{ 'enisIntershipApp.Domain.CIVIL' | translate }}</option>
                        <option value="ELECTROMECHANIC">{{ 'enisIntershipApp.Domain.ELECTROMECHANIC' | translate }}</option>
                        <option value="MATERIAL">{{ 'enisIntershipApp.Domain.MATERIAL' | translate }}</option>
                        <option value="GEOLOGY">{{ 'enisIntershipApp.Domain.GEOLOGY' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
