<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url(../../../content/assets/assets/img/list-postulaions.jpg);">
    <div class="container">
        <h1>Les entretiens planifiés </h1>
    </div>
</section>
  <div class="clearfix"></div>
    <!-- General Detail Start -->
        <section class="advance-search">
            <div class="container col-md-11">
                <div class="row">

                    <div class="col-md-4 col-sm-12">
                        <jhi-side-bar></jhi-side-bar>
                    </div>

                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="filter-wraps">
                                    <div class="filter-wraps-one">
                                        <i class="ti-search"></i>
                                            <ul>
                                                <h2>Les entretiens planifiés</h2>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row -->
                        <div class="row">
                            <jhi-alert-error></jhi-alert-error>
                            <jhi-alert></jhi-alert>
                            <div class="alert alert-warning" id="no-result" *ngIf="invitationInterviews?.length === 0">
                                <span jhiTranslate="enisIntershipApp.internship.home.notFound">No internships found</span>
                            </div>
                        </div>
                        <!-- row -->
                        <div  id="entities" *ngIf="invitationInterviews?.length > 0">
                            <ul class="list"*ngFor="let invitationInterview of invitationInterviews ;trackBy: trackInvitationInterviewId">
                                <li class="manage-list-row clearfix">
                                    <div class="job-info premium-job">

                                        <div class="job-img" *ngIf="invitationInterview.application?.student.photo">
                                            <a (click)="openFile(invitationInterview.application?.student?.photoContentType!, invitationInterview.application?.student?.photo)">
                                                <img [src]="'data:' + invitationInterview.application?.student?.photoContentType + ';base64,' + invitationInterview.application?.student?.photo" style="max-width: 100%;" alt="internship image"/>
                                            </a>
                                        </div>

                                        <div class="job-details">
                                            <h6>{{invitationInterview.application?.student?.user.firstName}} {{invitationInterview.application?.student?.user.lastName}}</h6>
                                                a accepté l'invitation à l'entretien de l'offre <b> {{ invitationInterview.application?.internship.entitled }}</b>
                                            <br/>
                                            <small class="job-update cl-danger"><i class="ti-time"></i>{{ invitationInterview.dateInterview | date:'medium' }}</small>
                                        </div>

                                    </div>
                                    <div class="job-buttons">
                                        <button type="submit" class="btn btn-info"  [routerLink]="['/views', invitationInterview.application?.student?.id, 'student-profile']"><i class="ti-star mrg-r-5"></i>Voir son profile</button><br> <br>
                                        <button type="submit" class="btn btn-success"  [routerLink]="['/views', invitationInterview.id, 'new-entretien-eval']"><i class="ti-arrow-right"></i>Faire un entretien</button>
                                    </div>

                                </li>
                            </ul>



                            <div *ngIf="invitationInterviews?.length > 0">

                                <div class="row justify-content-center">
                                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                                </div>

                                <div class="row justify-content-center">
                                    <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPageInterview($event)"></ngb-pagination>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- General Detail End -->

