
<form *ngIf="interview" (ngSubmit)="success(interview)" >
    <div class="modal-header" >
        <h4 class="modal-title"  >Résultat de l'entretien : Accepté</h4>
    </div>

    <div class="modal-body">
        <h5>Etes vous sûr que l'étudiant a réussi son entretien?</h5>
        <p style="margin-top: 30px;"><span style="color:red;font-size: 20px;text-decoration: underline;font-weight:500;margin-right: 20px;">NB:</span>
             <span style="color:red ;margin-left:55px">
                 <b>Votre choix est définitif et irréversible !!!!</b>
            </span>
        </p>
    </div>

    <div class="pull-right" style="margin-right: 2%;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span >Retour</span>
        </button>

        <button type="submit" class="btn btn-success">
            <span>valider</span>
        </button>
    </div>
</form>
