<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url(../../../content/images/list-postulaions.jpg);">
    <div class="container">
        <h1>Liste des Postulations</h1>
    </div>
  </section>
  <div class="clearfix"></div>

      <!-- General Detail Start -->
      <section class="advance-search">
        <div class="container col-md-11">
            <div class="row">

                <div class="col-md-4 col-sm-12">
                        <jhi-side-bar></jhi-side-bar>
                </div>

                <div class="col-md-8 col-sm-12">

                    <!--Filter -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filter-wraps">

                                <div class="filter-wraps-one">
                                    <h5 style="font-family:'Times New Roman', Times, serif; font-size: 150%;"><i class="ti-bookmark-alt"></i> Tous mes postulations</h5>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!--/.Filter -->

                    <!--Browse Job -->
                    <!-- row -->
                    <div class="row">



                      <jhi-alert-error></jhi-alert-error>

                      <jhi-alert></jhi-alert>
                      <div class="alert alert-warning" id="no-result" *ngIf="applications?.length === 0">
                          <span jhiTranslate="enisIntershipApp.internship.home.notFound">No internships found</span>
                      </div>
                    </div>
                    <!-- row -->
                    <div  id="entities" *ngIf="applications?.length > 0"></div>
            <ul class="list"*ngFor="let application of applications ;trackBy: trackId">

                <li style="height:150px" class="manage-list-row clearfix">
                    <div class="job-info premium-job">
                        <div class="job-img">
                            <a (click)="openFile(application.internship?.company?.photoContentType!, application.internship?.company?.photo)">
                                <img [src]="'data:' + application.internship?.company?.photoContentType + ';base64,' + application.internship?.company?.photo" style="max-width: 100%;" alt="application image"/>
                            </a>

                        </div>

                        <div class="job-details">
                            <h5 class="job-name">{{application.internship?.entitled}}
                                <span class="badge badge-success">{{application?.internship?.company?.nameCompany}}</span></h5>
                                <h5><span class="badge badge-light"><i class="fa fa-hourglass-half cl-success"></i>{{ application.internship?.duration }} mois</span></h5>
                        </div>
                    </div>

                    <!--<div class="col-md-5 col-sm-5">
                            <div class="mng-company-name">
                                <h4>{{application.internship?.entitled}}</h4><small class="job-company"><i class="ti-location-pin"></i>{{ application.internship?.company?.nameCompany }}</small></div>
                        </div>

                    </div>-->
                        <div class="job-buttons">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" style="background-color: #15A3B9;" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Disponibilités choisis
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                  <button class="dropdown-item" type="button">{{DatetoString(application.firstDisponibility)}}</button>
                                  <button class="dropdown-item" type="button">{{DatetoString(application.secondDisponibility)}}</button>
                                  <button class="dropdown-item" type="button">{{DatetoString(application.thirdDisponibility)}}</button>
                                </div>
                              </div>
                            <!--<button type="submit" class="btn btn-info"  [routerLink]="['/views', application.internship?.id, 'viewInternship']"><i class="ti-star mrg-r-5"></i>Voir détails offre</button><br>-->
                    </div>

                </li>
            </ul>

            <div *ngIf="applications?.length > 0">

                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>

                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                </div>

            </div>

            </div>
        </div>
        </div>
    </section>
      <!-- General Detail End -->

