.inner-header-page .freelance-image img{
	max-width:120px;
	margin-top:5px;
}
.inner-header-page .freelance-image {
    height: 140px;
    flex: 0 0 140px;
    margin-right: 35px;
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 3px 12px rgba(0,0,0,.1);
    display: inline-block;
    padding: 0 8px;
    line-height: 140px;
    float: left;
}

.inner-header-page{
    padding:20px 0 50px;
	text-align:left;
	background:#f5f6f7;
    border-bottom:2px solid #11b719;	
}
.inner-header-page .header-details li {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 12px;
}


.right-side-detail ul li .detail-info {
    width: 90px;
    margin-left: 5px;
	font-weight:500;
    display: inline-block;
}
.right-side-detail ul li .date{
    width: 90%;
    margin-left: 5px;
	font-weight:500;
    display: inline-block;

}

