<form name="cancellationForm"  >
    <div class="modal-header" >
        <h4 class="modal-title"  >Détails Entretien</h4>    
    </div>
    <div *ngIf="interview" class="modal-body">
        <section class="inner-header-page">
            <div class="container">
                <div class="col-md-8">
                    <div class="left-side-container" >
                        <div *ngIf="interview.student?.photo"> 
                            <img    [src]="'data:' + interview.student?.photoContentType! + ';base64,' + interview.student?.photo" class=" freelance-image" alt="student image"/>
                        </div>      
                        <div class="header-details">
                            <h4>{{interview.student?.user?.firstName}} {{interview.student?.user?.lastName}}<span class="pull-right"></span></h4>
                            <p>{{interview.student?.level}}</p>
                            <ul>
                                <li><span><i class="fa fa-envelope"></i>  Email:</span></li>
                                <li><img class="flag"  alt=""> {{interview.student?.user?.email}}</li>
                            </ul>
                            <ul>
                                <li><span><i  class="fa fa-phone "></i>  Téléphone:</span></li>
                                <li><img class="flag"  alt=""> {{interview.student?.phoneNumber}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bl-1 br-gary">
                    <div class="right-side-detail">
                        <ul>
                          <!--<li><span class="detail-info">Availability</span>Full Time<span class="available-status">Available</span></li>-->
                            <li style="color: brown;"><i class="fa fa-building"></i><span class="detail-info">  Société</span>{{interview.company?.nameCompany}}</li>
                            <li><i class="fa fa-briefcase"></i><span class="detail-info">  Stage</span>{{interview.internship?.entitled}}</li>
                            <li><i class="fa fa-calendar"></i><span class="date">Date Entretien</span>{{DatetoString(interview.date)}}</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </section> 
        <div class="row justify-content-center">
            <div class="col-6">
                <div *ngIf="interview">
        
                    <jhi-alert-error></jhi-alert-error>
                <br>
                    <dl class="row-md jh-entity-details">
                        <dt><span jhiTranslate="enisIntershipApp.interview.presence">Presence</span></dt>
                        <dd>
                            <span jhiTranslate="{{ 'enisIntershipApp.ATTENDANCE.' + interview.presence }}">{{ interview.presence }}</span>
                        </dd>
                        <dt><span jhiTranslate="enisIntershipApp.interview.communication">Communication</span></dt>
                        <dd>
                            <span>{{ interview.communication }}</span>
                        </dd>
                        <dt><span jhiTranslate="enisIntershipApp.interview.scoreCommunication">Score Communication </span></dt>
                        <dd>
                            <span class="font-weight-bold" style=" color: red;">{{ interview.scoreCommunication }}</span> <span>/20</span>
                        </dd>
                        <dt><span jhiTranslate="enisIntershipApp.interview.technical">Technical</span></dt>
                        <dd>
                            <span>{{ interview.technical }}</span>
                        </dd>
                        <dt><span jhiTranslate="enisIntershipApp.interview.scoretTechnical">Scoret Technical</span></dt>
                        <dd>
                            <span class="font-weight-bold" style=" color: red;">{{ interview.scoretTechnical }}</span> <span>/20</span>
                        </dd>
                        <dt><span jhiTranslate="enisIntershipApp.interview.other">Other</span></dt>
                        <dd>
                            <span>{{ interview.other }}</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button *jhiHasAnyAuthority="'ROLE_COMPANY'" type="submit" class="btn btn-success">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </div>
    
</form>
