<div>
    <div *ngIf="company">



    <jhi-alert></jhi-alert>


    <body>

        <div class="wrapper">

            <!-- Start Navigation -->

            <!-- End Navigation -->
            <div class="clearfix"></div>

            <!-- Title Header Start -->
            <section class="inner-header-title blank" style="background-image:url(../../content/assets/assets/img/banner-10.jpg);">
                <div class="container">
                    <h1>Profil Société</h1>
                </div>
            </section>
            <div class="clearfix"></div>
            <!-- Title Header End -->

        <!-- Candidate Profile Start -->
        <section class="detail-desc advance-detail-pr gray-bg">
            <div class="container">
                <div class="ur-detail-wrap create-kit padd-bot-0">

                    <div class="row">
                        <div class="detail-pic" ><div *ngIf="company.photo">
                            <a (click)="openFile(company?.photoContentType!, company?.photo)">
                                <img [src]="'data:' + company.photoContentType + ';base64,' + company.photo" style="max-width: 100%;" alt="company image"/>
                            </a>

                        </div><!--<img src="/../../content/assets/assets/img/can-2.png" class="img" alt="" /><a href="#" class="detail-edit" title="edit"><i class="fa fa-pencil"></i></a>--></div>
                        <div class="detail-status"><span>Active Now</span></div>
                    </div>

                    <div class="row bottom-mrg">
                        <div class="col-md-12 col-sm-12">
                            <div class="advance-detail detail-desc-caption"  _ngcontent-c8="" aria-hidden="false">
                              <!----  <ul class="list"*ngFor="let company of companies ;trackBy: trackId"></ul>-->
                                <span><h3>{{company.nameCompany}}</h3> </span><br/><br/>

                                <span><h3>  Site Web : {{company.websiteCompany}}</h3> </span>
                            <!----   <ul>
                                    <li><strong class="j-view">742</strong>Job Post</li>
                                    <li><strong class="j-applied">570</strong>Job Like</li>
                                    <li><strong class="j-shared">210</strong>Job Shared</li>
                                </ul>-->
                            </div>
                        </div>
                    </div>

                    <div class="row no-padd">
                        <div class="detail pannel-footer">
                            <div class="col-md-5 col-sm-5">
                             
                            </div>


                    <div class="detail-pannel-footer-btn pull-right">
                        <button *jhiHasAnyAuthority="'ROLE_COMPANY'"class="btn btn-primary float-right " type="submit"
                            [routerLink]="['/views', company?.id, 'edit-company']">
                            <fa-icon icon="plus"></fa-icon>
                            <span>Modifier société</span>
                        </button>

                        <button *jhiHasAnyAuthority="'ROLE_STUDENT'" class="btn btn-primary float-right " (click)="evaluate(company)" >

                            <span>Evaluer</span>
                        </button>

                        <!--<a href="#" class="footer-btn blu-btn" title="">Save Draft</a>--></div>
                            <!---- <button type="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company"
                                [routerLink]="['/company', company.id, 'edit']"
                                class="btn btn-primary">
                                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                                     </button>-->

                    </div>
                </div>
            </div>

        </div>
    </section>

        <section class="full-detail-description full-detail gray-bg">
            <div class="container">
                <div class="col-md-12 col-sm-12">
                    <div class="full-card">
                      <div class="deatil-tab-employ tool-tab">
                            <ul class="nav simple nav-tabs" id="simple-design-tab">
                                <!--<li class="active"><a id="b2" (click)="myFunction()" _ngcontent-c8="" class="nav-link" style="cursor:pointer;">
                                    <i _ngcontent-c8="" aria-hidden="true"
                               ></i> About
                                </a></li>-->
                                <li><a id="b1" (click)="myFunction()" _ngcontent-c8="" class="nav-link" style="cursor:pointer;">
                                    <i _ngcontent-c8="" aria-hidden="false" ></i> A propos
                                </a></li>
                                <!--<li><a href="#post-job">Job Posted</a></li>
                                <li><a href="#friends">Friends</a></li>
                                <li><a href="#messages">Messages <span class="info-bar">6</span></a></li>-->
                            <!----  <li><a id="b3" (click)="myFunctionf()" _ngcontent-c8="" class="nav-link" style="cursor:pointer;">
                                    <i _ngcontent-c8="" ></i> Settings
                                </a></li>-->
                            </ul>
                            <!-- Start All Sec -->
                            <div class="tab-content" >
                                <!-- Start About Sec -->
                                <div id="about" >
                                    <h3 jhiTranslate="enisIntershipApp.company.description"></h3>

                                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum sed diam ac fermentum. Mauris nec pellentesque neque. Cras nec diam euismod, congue sapien eu, fermentum libero. Vestibulum quis sem.</p>
                                    -->
                                <p> {{company.description}} </p>
                                <!-- End About Sec -->

                                <!-- Start Address Sec -->
                                <!--<div _ngcontent-c8="" class="mt-3" id="address" style="display:block;">-->

                                    <h3>Address Info</h3>
                                        <ul class="job-detail-des" >
                                            <li><span > Ville: </span>   <span>{{company.city}}</span></li>
                                            <li><span>Pays:</span><span>{{ company.country }}</span></li>
                                            <li><span>Code Postale:</span> <span>{{ company.postalCode }}</span></li>
                                            <li><span >Telephone:</span><span>{{ company.phoneNumber }}</span></li>
                                            <li><span>Site Web:</span><span>{{company.websiteCompany}}</span></li>
                                            <li><span>Email:</span><span>{{company.user?.email}}</span></li>
                                        </ul>
                                        <h3 >Evaluation</h3>
                                       
                                        <div class="container">
                                            <div *ngIf="nbOfEvaluation===0">
                                                 <div class="mt-3 alert alert-warning">aucune evaluation trouvée</div>
                                            </div>
                                            <div *ngIf="nbOfEvaluation!==0">
                                            
                                                <h4 class="col-sm-6" style="text-align: center ; color: rgb(101, 102, 105); ">Supervision</h4>
                                                <h4 class="col-sm-6" style="text-align: center ; color: rgb(101, 102, 105); ">Acceuil</h4>
            
                                              <div class="row">
                                                <div class="col-sm-6" class="center-block">
            
                                                    <ng-container *ngFor="let i of [].constructor(nbOfStarsSupervision)">
                                                        <svg class="bi bi-star-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" style="color: #F4DC2D;" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                      </svg></ng-container>
            
                                                </div>
            
            
                                                <div class="col-sm-6" class="center-block">
            
                                                    <ng-container *ngFor="let i of [].constructor(nbOfStarsAcceuil)">
                                                    <svg class="bi bi-star-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" style="color: #F4DC2D;" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                      </svg>
                                                    </ng-container>
                                                </div>
                                              </div>
                                            </div>  
                                            </div>
                                </div>
                </div>







                               </div>
                               </div>
                               </div>
                               </div>
                               </section>
                               </div>
                               </body>
                               </div>
                               </div>





                                <!-- End Address Sec -->





