<div>
    <h2 id="page-heading">
        <span jhiTranslate="enisIntershipApp.company.home.title">Companies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company" [routerLink]="['/company/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enisIntershipApp.company.home.createLabel">
            Create a new Company
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="companies?.length === 0">
        <span jhiTranslate="enisIntershipApp.company.home.notFound">No companies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="companies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.company.photo">Photo</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.company.city">City</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.company.country">Country</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.company.postalCode">Postal Code</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.company.phoneNumber">Phone Number</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.company.nameCompany">Name Company</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.company.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.company.brochureCompany">Brochure Company</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.company.websiteCompany">Website Company</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.company.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companies ;trackBy: trackId">
                    <td><a [routerLink]="['/company', company.id, 'view']">{{ company.id }}</a></td>
                    <td>
                        <a *ngIf="company.photo" (click)="openFile(company.photoContentType, company.photo)">
                            <img [src]="'data:' + company.photoContentType + ';base64,' + company.photo" style="max-height: 30px;" alt="company image"/>
                        </a>
                        <span *ngIf="company.photo">{{ company.photoContentType }}, {{ byteSize(company.photo) }}</span>
                    </td>
                    <td>{{ company.city }}</td>
                    <td>{{ company.country }}</td>
                    <td>{{ company.postalCode }}</td>
                    <td>{{ company.phoneNumber }}</td>
                    <td>{{ company.nameCompany }}</td>
                    <td>{{ company.description }}</td>
                    <td>
                        <a *ngIf="company.brochureCompany" (click)="openFile(company.brochureCompanyContentType, company.brochureCompany)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="company.brochureCompany">{{ company.brochureCompanyContentType }}, {{ byteSize(company.brochureCompany) }}</span>
                    </td>
                    <td>{{ company.websiteCompany }}</td>
                    <td>
                        {{ company.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/company', company.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/company', company.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(company)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                           
                    <button type="submit"
                    [routerLink]="['/views', company.id, 'profilesociety']"
                    class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Profil</span>
            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
