<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span jhiTranslate="enisIntershipApp.company.detail.title">Company</span> {{ company.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enisIntershipApp.company.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="company.photo">
                        <a (click)="openFile(company?.photoContentType!, company?.photo)">
                            <img [src]="'data:' + company.photoContentType + ';base64,' + company.photo" style="max-width: 100%;" alt="company image"/>
                        </a>
                        {{ company.photoContentType }}, {{ byteSize(company.photo) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.company.city">City</span></dt>
                <dd>
                    <span>{{ company.city }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.company.country">Country</span></dt>
                <dd>
                    <span>{{ company.country }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.company.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{ company.postalCode }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.company.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ company.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.company.nameCompany">Name Company</span></dt>
                <dd>
                    <span>{{ company.nameCompany }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.company.description">Description</span></dt>
                <dd>
                    <span>{{ company.description }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.company.brochureCompany">Brochure Company</span></dt>
                <dd>
                    <div *ngIf="company.brochureCompany">
                        <a (click)="openFile(company?.brochureCompanyContentType!, company?.brochureCompany)" jhiTranslate="entity.action.open">open</a>
                        {{ company.brochureCompanyContentType }}, {{ byteSize(company.brochureCompany) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.company.websiteCompany">Website Company</span></dt>
                <dd>
                    <span>{{ company.websiteCompany }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.company.user">User</span></dt>
                <dd>
                    {{ company.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
