<div class="wrapper">
    <!-- End Navigation -->
    <div class="clearfix"></div>
    <div *ngIf="student">

    <!-- Title Header Start -->
    <section class="inner-header-title blank" style="background-image:url(../../../../content/images/bn2.jpg);">
        <div class="container">
            <h1>Profil etudiant </h1>

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Title Header End -->

<!-- Candidate Profile Start -->
<section class="detail-desc advance-detail-pr gray-bg">
    <div class="container" >
        <div class="ur-detail-wrap create-kit padd-bot-0">

            <div class="row">
                <div class="detail-pic">
                    <div *ngIf="student.photo">
                        <a (click)="openFile(student?.photoContentType!, student?.photo)">
                        <img [src]="'data:' + student.photoContentType + ';base64,' + student.photo" style="max-width: 100%;" alt="student image"/>
                    </a>
                    </div>

                    <a  [routerLink]="['/views', student.id, 'edit-stud']" class="detail-edit" title="edit"><i class="fa fa-pencil"></i></a></div>

            </div>

            <div class="row bottom-mrg">
                <div class="col-md-12 col-sm-12">
                    <div class="advance-detail detail-desc-caption">
                        <h4> {{ student.user?.firstName }} {{ student.user?.lastName }}</h4><span class="designation">{{ student.level }}</span><br>
                        <span class="designation"> {{ student.department?.name }}</span>
                    </div>
                </div>
            </div>

            <div class="row no-padd">
                <div class="detail pannel-footer">

                    <div class="col-md-12 col-sm-12">
                        <div class="detail-pannel-footer-btn pull-right">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#apply-job" class="footer-btn grn-btn" title="" *ngIf="student.cv" (click)="openFile(student?.cvContentType!, student?.cv)">Voir CV</a>

                            <a href="javascript:void(0)"  *jhiHasAnyAuthority="'ROLE_STUDENT'"  class="footer-btn blu-btn"  [routerLink]="['/views', student.id, 'edit-stud']" title="">Modifier</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="full-detail-description full-detail gray-bg">
    <div class="container">
        <div class="col-md-12 col-sm-12">
            <div class="full-card">
              <div class="deatil-tab-employ tool-tab">
                    <ul class="nav simple nav-tabs" id="simple-design-tab">
                        <li><a id="b1" (click)="myFunction1()" _ngcontent-c8="" class="nav-link" style="cursor:pointer;">
                            <i _ngcontent-c8="" aria-hidden="false" ></i>A propos
                        </a></li>

                        <li><a id="b2" (click)="myFunction2()" _ngcontent-c8="" class="nav-link" style="cursor:pointer;">
                            <i _ngcontent-c8="" ></i> Les stages de {{student.user?.firstName}}
                        </a></li>



                    </ul>
                    <!-- Start All Sec -->
                    <div class="tab-content" >
                        <!-- Start About Sec -->
                        <div id="about">
                            <h3 >A propos {{student.user?.firstName}} {{student.user?.lastName}}</h3>
                            <ul class="job-detail-des">
                                <li><span>Niveau:</span>{{student.level}}</li>
                                <li><span>Spécialité:</span>{{student.department?.name}}</li>
                                <li><span>Pays:</span>{{student.country}}</li>
                                <li><span>Ville:</span>{{student.city}}</li>
                                <li><span>Code Postal:</span>{{student.postalCode}}</li>
                                <li><span>Num Telephone:</span>{{student.phoneNumber}}</li>

                                <li><span>Email:</span>{{student.user?.email}}</li>
                            </ul>

                                    <h3 >Evaluation</h3>
                           

                            <div class="container">
                                <div *ngIf="nbOfEvaluation===0">
                                     <div class="mt-3 alert alert-warning">aucune evaluation trouvée</div>
                                </div>
                                <div *ngIf="nbOfEvaluation!==0">
                                
                                    <h4 class="col-sm-6" style="text-align: center ; color: rgb(101, 102, 105); ">Competence technique</h4>
                                    <h4 class="col-sm-6" style="text-align: center ; color: rgb(101, 102, 105); ">Competence en communication</h4>

                                  <div class="row">
                                    <div class="col-sm-6" class="center-block">

                                        <ng-container *ngFor="let i of [].constructor(nbOfStarsTechnical)">
                                            <svg class="bi bi-star-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" style="color: #F4DC2D;" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                          </svg></ng-container>

                                    </div>


                                    <div class="col-sm-6" class="center-block">

                                        <ng-container *ngFor="let i of [].constructor(nbOfStarsCommunication )">
                                        <svg class="bi bi-star-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" style="color: #F4DC2D;" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                          </svg>
                                        </ng-container>
                                    </div>
                                  </div>
                                </div>  
                                </div>

                        </div>
                        <!-- End About Sec -->

<!-- End Message -->

<!--
<div _ngcontent-c8="" class="mt-3" id="post-job" style="display:none;">



<div class="row">

<jhi-alert-error></jhi-alert-error>

<jhi-alert></jhi-alert>
<div class="alert alert-warning" id="no-result" *ngIf="applications?.length === 0">
    <span jhiTranslate="enisIntershipApp.internship.home.notFound">No applications found</span>
</div>
</div>

<div  id="entities" *ngIf="applications?.length > 0"></div>
<ul class="list"*ngFor="let application of applications ;trackBy: trackId">
    <li class="manage-list-row clearfix">
        <div class="job-info premium-job">
            <div class="job-img">
                <a (click)="openFile(application.internship?.photoContentType!, application.internship?.photo)">
                    <img [src]="'data:' + application.internship?.photoContentType + ';base64,' + application.internship?.photo" style="max-width: 100%;" alt="internship image"/>
                </a>

            </div>

            <div class="job-details">
                <h4>{{application.internship?.entitled}}</h4><small class="job-company"><i class="ti-location-pin"></i>{{ application.internship?.company?.nameCompany }}</small></div>
            </div>

            <div class="job-buttons">
                <button type="submit" class="btn btn-info"  [routerLink]="['/views', application.internship?.id, 'viewInternship']"><i class="ti-star mrg-r-5"></i>Voir détails offre</button><br>
        </div>

    </li>
</ul>

<div *ngIf="applications?.length > 0">

    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>

</div>

</div>
-->

                        <!-- Start internship List -->
                    <div _ngcontent-c8="" class="mt-3" id="internship" style="display:none;">
                        <div class="alert alert-warning" id="no-result" *ngIf="affectations?.length === 0">
                            <span jhiTranslate="enisIntershipApp.affectation.home.notFound">No affectations found</span>
                        </div>
                    <div class="table-responsive" id="entities" *ngIf="affectations?.length > 0">
                       <div *ngFor="let affectation of affectations ;trackBy: trackId">


                              <div class="col-md-4 col-sm-4">
                                    <div class="manage-cndt">
                                        <!--
                                        <div *ngIf="affectation.companyEvaluation">
                                        <div class="cndt-status available">Evalué</div>
                                        </div>
                                        -->
                                        <div *ngIf=" today > affectation.startDate && affectation.endDate > today  ">
                                            <div class="cndt-status pending">stage actuel</div>
                                        </div>
                                        <div class="cndt-caption">
                                            <div class="cndt-pic">
                                                <a (click)="openFile(affectation.internship?.company?.photoContentType!, affectation.internship?.company?.photo)">
                                                    <img [src]="'data:' + affectation.internship?.company?.photoContentType + ';base64,' + affectation.internship?.company?.photo" style="max-width: 100%;" alt="company image"/>
                                                </a>
                                            </div>
                                            <div *ngIf="affectation.internship">
                                               <h4><a style="color: black ;  font-weight:normal;text-decoration:none;" [routerLink]="['/views', affectation.internship?.id, 'viewInternship']" >{{affectation.internship?.entitled}}</a></h4>
                                            </div>
                                            <div *ngIf="affectation.internship?.company">
                                               <span ><a style="color: green; font-weight:normal;text-decoration:none;" [routerLink]="['/views', affectation.internship?.company.id, 'profilesociety']">{{affectation.internship?.company?.nameCompany}}</a></span>
                                            </div>
                                        </div>
                                        <div *jhiHasAnyAuthority="'ROLE_STUDENT'">
                                        <a (click)="evaluate(affectation)" title="" class="cndt-profile-btn">Evaluer</a>
                                        </div>
                                        <!--
                                        <div *ngIf="!affectation.companyEvaluation">
                                        <a (click)="evaluate(affectation.internship?.company)" title="" class="cndt-profile-btn">Evaluer</a>
                                        </div>
                                        <div *ngIf="affectation.companyEvaluation">
                                            <a  title="" class="cndt-profile-btn" style="cursor: not-allowed;">evaluer</a>
                                        </div>
                                        -->
                                    </div>
                                </div>




                     </div>
                    </div>
                    </div>
                        <!-- End internship List -->
                    </div>
                    <!-- Start All Sec -->
                </div>
            </div>
        </div>
    </div>
</section>
