<div class="wrapper">


    <!-- Title Header Start -->
    <section class="inner-header-title" style="background-image:url(../../../../content/images/bn2.jpg);">
        <div class="container">
            <h1>Détails sur le stage</h1>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Title Header End -->

    <!-- Candidate Detail Start -->

    <section class="detail-desc">
        <div class="container">

            <div class="ur-detail-wrap top-lay">

                <div class="ur-detail-box">
                    <div *ngIf="internship">
                        <jhi-alert-error></jhi-alert-error>
                        <dl class="row-md jh-entity-details">
                    <div class="ur-thumb">
        <dd>
            <div >
                <a (click)="openFile(internship?.photoContentType!, internship?.photo)">
                    <img  *ngIf="internship.photo === null" src="../../../../content/images/laptop.jpg" style="max-width: 100%;"alt="internship image" >
                    <img  *ngIf="internship.photo" [src]="'data:' + internship.photoContentType + ';base64,' + internship.photo" style="max-width: 100%;" alt="internship image"/>
            </a>

            </div>

        </dd></div></dl>
                        <!--<img src="../../../../content/assets/assets/img/com-1.jpg" class="img-responsive" alt="" />-->
                    </div>
                    <div class="ur-caption">
                        <div *ngIf="internship">
                        <h4 class="ur-title">{{internship.entitled}}</h4>


                        <span class="ur-designation"><i class="ti-home mrg-r-5"></i>{{internship.company?.nameCompany}}</span>
                        <p class="ur-location"><i class="ti-location-pin mrg-r-5"></i>{{internship.company?.country}}</p>
                    </div>
                    </div>

                </div>
                <div *ngIf="internship">
                <div class="ur-detail-btn">
                    <a [routerLink]="['/views', internship.company?.id, 'profilesociety']" data-toggle="modal" data-target="#apply-job" class="btn btn-warning mrg-bot-10 full-width"><i class="ti-star mrg-r-5"></i>Voir société</a><br>
                    <!--<a href="#" class="btn btn-info full-width"><i class="ti-linkedin mrg-r-5"></i>Apply With Linkedin</a>-->
                </div>
            </div>

            </div>

        </div>
    </section>

    <!-- Job full detail Start -->
    <section class="full-detail-description full-detail">
        <div class="container">
            <!-- Job Description -->
            <div class="col-md-8 col-sm-12">
                <div class="full-card">

                    <div class="row row-bottom mrg-0">
                        <h2 class="detail-title">Détail de stage</h2>
                        <ul class="job-detail-des">
                            <div *ngIf="internship">
          <li><span jhiTranslate="enisIntershipApp.internship.domain">Domaine:</span>{{ internship.domain }}</li>
                            <li><span jhiTranslate="enisIntershipApp.internship.level">Niveau:</span>{{ internship.level }}</li>

                            <li><span jhiTranslate="enisIntershipApp.internship.duration">Durée:</span>{{internship.duration}} </li>
                            </div>

                            <!--<li><span>Job Type:</span>Full Time</li>-->
                        </ul>
                    </div>

                <!--	<div class="row row-bottom mrg-0">
                        <h2 class="detail-title">Location</h2>
                        <ul class="job-detail-des">
                            <li><span>Address:</span>SCO 210, Neez Plaza</li>
                            <li><span>City:</span>Mohali</li>
                            <li><span>State:</span>Punjab</li>
                            <li><span>Country:</span>India</li>
                            <li><span>Zip:</span>520 548</li>
                            <li><span>Telephone:</span>+91 123 456 7854</li>
                            <li><span>Fax:</span>(622) 123 456</li>
                            <li><span>Email:</span><a href="https://codeminifier.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="30495f4542555d51595c70575d51595c1e535f5d">[email&#160;protected]</a></li>
                        </ul>
                    </div>-->

                    <div class="row row-bottom mrg-0">
                        <div *ngIf="internship">
        <h2 class="detail-title"><span jhiTranslate="enisIntershipApp.internship.description">Description</span></h2>
        <p style="text-transform:none">{{ internship.description }}</p>
    </div>
      </div>
<br><br>
                    <div class="row row-bottom mrg-0">
                    <button style="background-color: #11B719; width:50%;display: block;
                    margin-left: auto;
                    margin-right: auto; border-color:#11B719;border-width:2.7px;" class="btn btn-warning mrg-bot-10 full-width" (click)="openFile(internship?.brochureContentType!, internship?.brochure)"><span style="color:white">Plus de détails sur le stage</span>

                    <!--<ul class="detail-list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
                    </ul>-->
                    </button>
                    </div>

                    <div class="row row-bottom mrg-0">
                        <!--<h2 class="detail-title">Map Location</h2>
                        <div id="map_full_width_one" class="full-width" style="height:400px;"></div>-->
                    </div>
                </div>
            </div>
            <!-- End Job Description -->

            <!-- Start Sidebar -->
            <div  class="col-md-4 col-sm-12">
                <div class="sidebar right-sidebar">

                    <!-- Job Alert -->
                   <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application" [routerLink]="['/application/new']">

                    </button>-->
                <div *ngIf ='internship'>
                    <a  *jhiHasAnyAuthority="'ROLE_COMPANY'" class="btn btn-info full-width mrg-bot-20" data-toggle="tooltip" data-original-title="Edit"[routerLink]="['/views', internship.id, 'editerOffre']">EDIT OFFRE</a>

                    <a  *jhiHasAnyAuthority="'ROLE_STUDENT'" class="btn btn-info full-width mrg-bot-20" data-toggle="modal" data-target="#job-alert"[routerLink]="['/views',internship.id,'newApplication']">POSTULER</a>
                    <!-- /Job Alert -->
                </div>



                    <div class="side-widget">
                        <h2 class="side-widget-title">Détails sur société</h2>
                        <div class="widget-text padd-0">
                            <div class="ur-detail-wrap">
                                <div class="ur-detail-wrap-body padd-top-20">
                                    <div *ngIf="internship">
                                    <ul class="ove-detail-list">

                                        <li>
                                            <i class="ti-wallet"></i>
                                            <h5>Site web</h5>
                                            <span><a href="internship.company?.websiteCompany">{{internship.company?.websiteCompany}}</a></span>
                                        </li>
                                        <!--<li>
                                            <i class="ti-user"></i>
                                            <h5>Gender</h5>
                                            <span>Male</span>
                                        </li>-->

                                      <!--  <li>
                                            <i class="ti-ink-pen"></i>
                                            <h5>Career Level</h5>
                                            <span>Excutive</span>
                                        </li>-->

                                        <!--<li>
                                            <i class="ti-home"></i>
                                            <h5>Industry</h5>
                                            <span>Management</span>
                                        </li>-->

                                        <li>
                                            <i class="ti-shield"></i>
                                            <h5>Numéro de téléphone</h5>
                                            <span style="color:#4B3200;font-weight: bold;">{{internship.company?.phoneNumber}}</span>
                                        </li>

                                        <!--<li>
                                            <i class="ti-book"></i>
                                            <h5>Qualification</h5>
                                            <span>Master Degree</span>
                                        </li>--->

                                    </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="statistic-item flex-middle">
                        <div class="icon text-theme">
                            <i class="ti-time theme-cl"></i>
                        </div>
                        <span class="text"><span class="number">2 months</span> ago</span>
                    </div>

                   <!-- <div class="statistic-item flex-middle">
                        <div class="icon text-theme">
                            <i class="ti-zoom-in theme-cl"></i>
                        </div>
                        <span class="text"><span class="number">1742</span> Views</span>
                    </div>-->

                    <div class="statistic-item flex-middle">
                        <div class="icon text-theme">
                          <i class="ti-write theme-cl"></i>
                        </div>
                        <span class="text"><span class="number">17</span> Applicants</span>
                    </div>

                </div>
            </div>
            <!-- End Sidebar -->
        </div>
    </section>
    <!-- Job full detail End -->

    <!-- More Jobs -->
    <section class="padd-top-5">
        <div class="container">

            <div class="row mrg-0">
                <div class="col-md-12 col-sm-12">
                    <h3>Des stages relatives pour cette société</h3>
                </div>
            </div>
            <!--Browse Job In Grid-->
            <div class="row mrg-0">

                <div class="col-md-4 col-sm-6">
                    <div class="grid-view brows-job-list">
                        <div class="brows-job-company-img">
                            <img src="../../../../content/assets/assets/img/com-3.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="brows-job-position">
                            <h3><a href="job-detail.html">Web Developer</a></h3>
                            <p><span>Google</span></p>
                        </div>
                        <div class="job-position">
                            <span class="job-num">5 Position</span>
                        </div>
                        <div class="brows-job-type">
                            <span class="full-time">Full Time</span>
                        </div>
                        <ul class="grid-view-caption">
                            <li>
                                <div class="brows-job-location">
                                    <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                            </li>
                        </ul>
                        <span class="tg-themetag tg-featuretag">Premium</span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="grid-view brows-job-list">
                        <div class="brows-job-company-img">
                            <img src="../../../../content/assets/assets/img/com-2.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="brows-job-position">
                            <h3><a href="job-detail.html">Web Developer</a></h3>
                            <p><span>Google</span></p>
                        </div>
                        <div class="job-position">
                            <span class="job-num">5 Position</span>
                        </div>
                        <div class="brows-job-type">
                            <span class="part-time">Part Time</span>
                        </div>
                        <ul class="grid-view-caption">
                            <li>
                                <div class="brows-job-location">
                                    <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="grid-view brows-job-list">
                        <div class="brows-job-company-img">
                            <img src="../../../../content/assets/assets/img/com-1.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="brows-job-position">
                            <h3><a href="job-detail.html">Web Developer</a></h3>
                            <p><span>Google</span></p>
                        </div>
                        <div class="job-position">
                            <span class="job-num">5 Position</span>
                        </div>
                        <div class="brows-job-type">
                            <span class="freelanc">Freelancer</span>
                        </div>
                        <ul class="grid-view-caption">
                            <li>
                                <div class="brows-job-location">
                                    <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                            </li>
                        </ul>
                        <span class="tg-themetag tg-featuretag">Premium</span>
                    </div>
                </div>

            </div>
            <!--/.Browse Job In Grid-->

        </div>
    </section>
