    <section class="inner-header-title" style="background-image:url(../../../content/assets/assets/img/bn2.jpg);">
        <div class="container">
            <h1>Bienvenue</h1>
        </div>
    </section>


			<div class="clearfix"></div>
			<!-- General Detail Start -->
	<section class="advance-search">
        <div class="container col-md-11">
            <div class="row">
                <jhi-alert-error></jhi-alert-error>

                <jhi-alert></jhi-alert>

                        <!-- Sidebar Wrap -->
                <div class="col-md-4 col-sm-12">
                    <jhi-side-bar></jhi-side-bar>
                </div>

						<!-- Content Wrap -->
				<div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="dashboard-stat widget-1">
                                <div class="dashboard-stat-content"><h4>210</h4>
                                    <span>Nombres des entretiens restants</span>
                                </div>
                            <div class="dashboard-stat-icon"><i class="ti-location-pin"></i></div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="dashboard-stat widget-2">
                            <div class="dashboard-stat-content"><h4>80</h4> <span>Nombre des offres</span></div>
                                <div class="dashboard-stat-icon"><i class="ti-layers"></i></div>
                            </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="dashboard-stat widget-3">
                            <div class="dashboard-stat-content"><h4>712</h4>
                                <span>Nombre des postulations</span>
                            </div>
                            <div class="dashboard-stat-icon">
                                <i class="ti-pie-chart"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="dashboard-stat widget-4">
                            <div class="dashboard-stat-content"><h4>107</h4> <span>Deadline</span></div>
                                <div class="dashboard-stat-icon"><i class="ti-bookmark"></i></div>
                            </div>
                        </div>
                    </div>

                            <!--Filter -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filter-wraps">
                                <div class="dashboard-caption-header">
									<h4><i class="ti-settings"></i>Activités</h4>
                                </div>
                            </div>
                        </div>
                    </div>


					<div class="dashboard-caption-wrap">

										<!-- Overview -->


										<!-- Notifications -->
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="dashboard-gravity-list with-icons">
                                <h4>Les postulations</h4>
                                <div class="table-responsive" id="entities" *ngIf="applications?.length > 0">
                                    <ul>
                                        <div *ngFor="let application of applications ;trackBy: trackId;let i = index;">
                                            <div *ngIf="(i > (applications?.length)-(numberIterations+1))">
                                        <li>
											<i class="dash-icon-box ti-files" style="color: rgb(68, 177, 177);"></i>  <strong><span style="color: rgb(69, 117, 146);font-weight:bold">{{ application.internship?.entitled }}</span></strong>
											<ul>
												<!--<li class="paid">Paid</li>
												<li>Order: #20550</li>-->
												<li></li>
											</ul>
											<div class="buttons-to-right" *ngIf="application.internship">
												<a  [routerLink]="['/invitation-interview', application.internship?.id, 'view']" class="button gray">Voir détails</a>
											</div>
                                        </li>
                                    </div>
                                    </div>
                                    </ul>
                                </div>
							</div>
						</div>

						<div class="col-lg-6 col-md-12">
							<div class="dashboard-gravity-list invoices with-icons">
                                <h4>Liste des entretiens</h4>
                                <div class="table-responsive" id="entities" *ngIf="invitationInterviews?.length > 0">
									<ul>
                                        <div *ngFor="let invitationInterview of invitationInterviews ;trackBy: trackInvitationInterviewId;let i = index;">


                                                <li><i class="dash-icon-box ti-star" style="color:rgb(224, 224, 0)"></i>

											        <strong><span style="color: brown; font-weight:bold">{{ invitationInterview.id }}</span></strong>

                                                    <ul>
												        <!--<li class="paid">Paid</li>
												        <li>Order: #20550</li>-->
												        <li style="color: rgb(99, 179, 103);">{{ invitationInterview.deadline | date:'medium' }}</li>
											        </ul>
                                                </li>
                                            </div>

                                    </ul>
                                </div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
			<!-- General Detail End -->

			<!-- ============================ Call To Action ================================== -->

			<!-- ============================ Call To Action End ================================== -->

			<!-- ============================ Before Footer ================================== -->

			<!-- ============================ Before Footer ================================== -->

