<div class="wrapper"> <!-- Title Header Start -->
    <section class="inner-header-title blank" style="background-image:url(../../../content/images/postul-back3.jpg);">
        <div class="container">
            <h1 *ngIf="internshipPATH" style="font-family:'Times New Roman', Times, serif;">
                Postuler pour
                <span style="color:limegreen;">"</span><span>{{internshipPATH.entitled}}</span><span style="color:limegreen;">"</span>
            </h1>
        </div>
    </section>

<div class="clearfix"></div>
<!-- Title Header End -->

<!-- Accordion Design Start -->
<div class="detail-desc section">
    <div class="container">
        <div class="ur-detail-wrap create-kit padd-bot-0">
            <div class="row bottom-mrg">
                <div class="form-group">
                    <div class="detail-pic js">
                        <div class="box">
                            <img src="../../../../content/images/postul.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <div class="row">

                    <!-- Billing Address -->
                    <div class="col-md-6 col-sm-6">
                        <div class="sidebar-wrapper">

                            <div class="sidebar-box-header bb-1">
                                <h4>Choisissez votre disponibilité</h4>
                            </div>


                            <div class="billing-form">
                                <jhi-alert-error></jhi-alert-error>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="form-control-label" jhiTranslate="enisIntershipApp.application.firstDisponibility" for="field_firstDisponibility">First Disponibility</label>
                                            <input id="field_firstDisponibility" type="datetime-local" class="form-control" name="firstDisponibility" formControlName="firstDisponibility" placeholder="YYYY-MM-DD HH:mm"/>
                                        </div>
                                        <div *ngIf="editForm.get('firstDisponibility')!.invalid && (editForm.get('firstDisponibility')!.dirty || editForm.get('firstDisponibility')!.touched)">
                                            <small class="form-text text-danger"
                                                *ngIf="editForm.get('firstDisponibility')?.errors?.required" jhiTranslate="entity.validation.required">
                                                    This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                [hidden]="!editForm.get('firstDisponibility')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                                                This field should be a date and time.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="form-control-label" jhiTranslate="enisIntershipApp.application.secondDisponibility" for="field_secondDisponibility">Second Disponibility</label>
                                            <input id="field_secondDisponibility" type="datetime-local" class="form-control" name="secondDisponibility" formControlName="secondDisponibility" placeholder="YYYY-MM-DD HH:mm"/>
                                        </div>
                                        <div *ngIf="editForm.get('secondDisponibility')!.invalid && (editForm.get('secondDisponibility')!.dirty || editForm.get('secondDisponibility')!.touched)">
                                            <small class="form-text text-danger"
                                                *ngIf="editForm.get('secondDisponibility')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                [hidden]="!editForm.get('secondDisponibility')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                                                This field should be a date and time.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="form-control-label" jhiTranslate="enisIntershipApp.application.thirdDisponibility" for="field_thirdDisponibility">Third Disponibility</label>
                                            <input id="field_thirdDisponibility" type="datetime-local" class="form-control" name="thirdDisponibility" formControlName="thirdDisponibility" placeholder="YYYY-MM-DD HH:mm"/>
                                        </div>
                                        <div *ngIf="editForm.get('thirdDisponibility')!.invalid && (editForm.get('thirdDisponibility')!.dirty || editForm.get('thirdDisponibility')!.touched)">
                                            <small class="form-text text-danger"
                                                *ngIf="editForm.get('thirdDisponibility')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                [hidden]="!editForm.get('thirdDisponibility')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                                                This field should be a date and time.
                                            </small>
                                        </div>
                                    </div>
                                   <!-- <div class="row">
                                        <div class="col-xs-12">
                                            <label class="form-control-label" jhiTranslate="enisIntershipApp.application.student" for="field_student">Student</label>
                                            <select class="form-control input-lg" id="field_student" name="student" formControlName="student">
                                                <option [ngValue]="null"></option>
                                                <option [ngValue]="studentOption.id === editForm.get('student')!.value?.id ? editForm.get('student')!.value : studentOption" *ngFor="let studentOption of students; trackBy: trackById">{{ studentOption.id }}</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>Zip Code</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>-->



                                    <!--<div class="row">
                                        <div class="col-xs-12">
                                            <label class="form-control-label" jhiTranslate="enisIntershipApp.application.deadline" for="field_deadline">Deadline</label>
                                            <select class="form-control" id="field_deadline" name="deadline" formControlName="deadline">
                                                <option [ngValue]="null"></option>
                                                <option [ngValue]="deadlineOption.id === editForm.get('deadline')!.value?.id ? editForm.get('deadline')!.value : deadlineOption" *ngFor="let deadlineOption of deadlines; trackBy: trackById">{{ deadlineOption.id }}</option>
                                            </select>
                                        </div>
                                    </div>-->
                            </div>


                        </div>
                    </div>

            <!-- Payment Detail -->
                    <div class="col-md-6 col-sm-6">
                        <div class="sidebar-wrapper">

                            <div class="sidebar-box-header bb-1">
                                <h4>Votre cv</h4>
                            </div>

                            <div class="billing-form">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="form-control-label" jhiTranslate="enisIntershipApp.application.cv" for="field_cv">Cv</label>
                                        <input type="file" id="file_cv" (change)="setFileData($event, 'cv', false)" jhiTranslate="entity.action.addblob"/>
                                        <input type="hidden" class="form-control" name="cv" id="field_cv"
                                            formControlName="cv"/>
                                        <input type="hidden" class="form-control" name="cvContentType" id="field_cvContentType"
                                            formControlName="cvContentType" />
                                        <div *ngIf="editForm.get('cv')!.invalid && (editForm.get('cv')!.dirty || editForm.get('cv')!.touched)">
                                            <small class="form-text text-danger"
                                                    *ngIf="editForm.get('cv')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                        <div class="col-xs-8">
                                            <label>Card Number</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="col-xs-4">
                                            <img src="../../../../content/assets/assets/img/debit.png" class="img-responsive payment-img" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <label>Expiration Date</label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <select class="form-control input-lg">
                                                        <option>January</option>
                                                        <option>February</option>
                                                        <option>March</option>
                                                        <option>April</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control input-lg">
                                                        <option>2020</option>
                                                        <option>2021</option>
                                                        <option>2022</option>
                                                        <option>2023</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>CVC/CVV</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label>Coupon Code(If Available)</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>-->
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span>Confirmer..</span>
                        </button>
                        <button type="button" id="cancel-save" (click)="previousState()" class="btn btn-default">
                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel..</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Accordion Design End -->
</div>
