<section class="inner-header-title" style="background-image:url(../../../content/images/bn2.jpg);">
    <div class="container">
        <h1>Bienvenue</h1>
    </div>
</section>


        <div class="clearfix"></div>
        <!-- General Detail Start -->
<section class="advance-search">
    <div class="container col-md-11">
        <div class="row">


                    <!-- Sidebar Wrap -->
            <div class="col-md-4 col-sm-12">
                <jhi-side-bar></jhi-side-bar>
            </div>

                    <!-- Content Wrap -->
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="dashboard-stat widget-1">
                            <div class="dashboard-stat-content"><h4>{{nbreOfAffectations}}</h4>
                                <a [routerLink]="['/views/ListAffectations']"><span style="color: white;">Nombre des stageaires</span></a>
                            </div>
                        <div class="dashboard-stat-icon"><i class="ti-location-pin"></i></div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="dashboard-stat widget-2">
                        <div class="dashboard-stat-content"><h4>{{nbreOfInternships}}</h4>
                            <a [routerLink]="['/views/listeOffres']"><span style="color: white;">Nombre des offres</span></a></div>
                            <div class="dashboard-stat-icon"><i class="ti-layers"></i></div>
                        </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="dashboard-stat widget-3">
                        <div class="dashboard-stat-content"><h4>{{nbreOfapplications}}</h4>
                            <a [routerLink]="['/views/numbreDePostulationParOffre']"> <span style="color: white;">Nombre des postulations reçues</span></a>
                        </div>
                        <div class="dashboard-stat-icon">
                            <i class="ti-pie-chart"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="dashboard-stat widget-4">
                        <div class="dashboard-stat-content"><h6 style="color: white;">{{date | date: "medium"}}</h6> <span>Deadline</span></div>
                        <div class="dashboard-stat-icon"><i class="ti-bookmark"></i></div>
                    </div>
                </div>
                </div>
                <jhi-alert-error></jhi-alert-error>

                 <jhi-alert></jhi-alert>

                        <!--Filter -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-wraps">
                            <div class="dashboard-caption-header">
                                <h4><i class="ti-settings"></i>Activités</h4>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="dashboard-caption-wrap">

                                    <!-- Overview -->


                                    <!-- Notifications -->
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="dashboard-gravity-list with-icons">
                            <h4>Nouveaux <a style="color:#232A34;" [routerLink]="['/views/numbreDePostulationParOffre']">postulations </a><br>
                                <span class="badge badge-danger">Nouveau</span>
                            </h4>
                            <div class="table-responsive" id="entities" *ngIf="applications?.length > 0">
                                <ul>
                                    <div *ngFor="let application of applications ;trackBy: trackId;let i = index;">
                                        <div *ngIf="(i > (applications?.length)-(numberIterations+1))">
                                    <li>
                                        <i class="dash-icon-box ti-files" style="color: rgb(68, 177, 177);"></i>

                                            <strong>
                                                <a [routerLink]="['/views',application?.internship?.id,'viewInternship']">
                                                    <span style="color: rgb(69, 117, 146);font-weight:bold"> {{ application.internship?.entitled }}</span>
                                                </a>
                                            </strong>

                                        <ul>
                                            <!--<li class="paid">Paid</li>
                                            <li>Order: #20550</li>-->
                                            <a style="color: brown;" [routerLink]="['/views',application?.student?.id,'student-profile']"> {{ application?.student?.user?.firstName }} {{ application?.student?.user?.lastName }}</a>
                                        </ul>

                                    </li>
                                </div>
                                </div>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="dashboard-gravity-list invoices with-icons">
                            <h4>Nouveaux <a style="color:#232A34;" [routerLink]="['/views/list-confirmation-interview']">entretiens planifiés</a> <br>
                                <span class="badge badge-danger">Nouveau</span>

                            </h4>
                            <div *ngIf="invitationInterviews?.length === 0"></div>
                            <div class="table-responsive" id="entities" *ngIf="invitationInterviews?.length > 0">
                                <ul>
                                    <div *ngFor="let invitationInterview of invitationInterviews ;trackBy: trackInvitationInterviewId;let i = index;">
                                        <div *ngIf="(i > (invitationInterviews?.length)-(numberIterations+1))">

                                            <li><i class="dash-icon-box ti-star" style="color:rgb(224, 224, 0)"></i>

                                                <a [routerLink]="['/views',invitationInterview?.application?.internship?.id,'viewInternship']"><strong><span style="color:rgb(69, 117, 146); font-weight:bold">{{ invitationInterview?.application?.internship?.entitled }}</span></strong></a>

                                                <ul>
                                                    <!--<li class="paid">Paid</li>
                                                    <li>Order: #20550</li>-->
                                                    <a style="color:brown; font-weight:bold" [routerLink]="['/views',invitationInterview?.application?.student?.id,'student-profile']"><li>{{ invitationInterview?.application?.student?.user?.firstName }}</li></a> |
                                                    <li class="badge badge-danger" style="color: rgb(99, 179, 103);">{{ invitationInterview.dateInterview | date:"medium" }}</li>
                                                </ul>
                                            </li>
                                            </div>
                                        </div>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
        <!-- General Detail End -->

        <!-- ============================ Call To Action ================================== -->

        <!-- ============================ Call To Action End ================================== -->

        <!-- ============================ Before Footer ================================== -->

        <!-- ============================ Before Footer ================================== -->

