<section class="inner-header-title" style="background-image:url(../../../content/images/bn2.jpg);">
    <div class="container">
        <h1>Bienvenue</h1>
    </div>
</section>

			<div class="clearfix"></div>
			<!-- General Detail Start -->
			<section class="advance-search">
                <div class="container col-md-11">
                    <div class="row">


						<!-- Sidebar Wrap -->
                        <div  class="col-md-4 col-sm-12">
                            <jhi-side-bar></jhi-side-bar>
                        </div>

						<!-- Content Wrap -->
						<div class="col-md-8 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="dashboard-stat widget-1">
                                        <div class="dashboard-stat-content"><h4>{{NbreOfinvitationInterviews}}</h4>
                                            <a [routerLink]="['/views/listInvitationInterview']"><span style="color: white;">Nombres d'invitations reçues</span></a></div>
                                        <div class="dashboard-stat-icon"><i class="ti-location-pin"></i></div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="dashboard-stat widget-2">
                                        <div class="dashboard-stat-content"><h4>{{NbreOfInternshipByDomain}}</h4>
                                            <a [routerLink]="['/views/stud-internship']"><span style="color: white;">Nombre des offres</span></a>
                                        </div>
                                        <div class="dashboard-stat-icon"><i class="ti-layers"></i></div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="dashboard-stat widget-3">
                                        <div class="dashboard-stat-content"><h4>{{NbreOfapplications}}</h4>
                                            <a [routerLink]="['/views/listApplication']"><span style="color: white;">Nombre des postulations envoyées</span></a>
                                        </div>
                                        <div class="dashboard-stat-icon"><i class="ti-pie-chart"></i></div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="dashboard-stat widget-4">
                                        <div class="dashboard-stat-content"><h6 style="color: white;">{{date | date: "medium"}}</h6> <span>Deadline</span></div>
                                        <div class="dashboard-stat-icon"><i class="ti-bookmark"></i></div>
                                    </div>
                                </div>
                            </div>

                            <jhi-alert-error></jhi-alert-error>

                            <jhi-alert></jhi-alert>

                            <!--Filter -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="filter-wraps">

                                        <div class="dashboard-caption-header" *ngFor="let affectation of affectations ;trackBy: trackIdAffectation; let i= index;">
                                            <div *ngIf="(i == (affectations?.length)-1)" style="font-family:'Times New Roman', Times, serif;">
                                        <h4>
                                            <i class="ti-settings;"></i>Affectué à <a [routerLink]="['/views', affectation?.internship?.id, 'viewInternship']"><span class="badge badge-success">{{affectation.internship?.entitled}} </span></a>
                                            <a [routerLink]="['/views', affectation?.internship?.company?.id, 'profilesociety']"><span class="badge badge-info"> {{affectation.internship?.company?.nameCompany}}</span></a></h4>
                                            <h4><span class="badge badge-secondary">{{affectation.startDate | date}}</span> | <span class="badge badge-secondary">{{affectation.endDate | date}}</span>
                                            </h4>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>

									<div class="dashboard-caption-wrap">

										<!-- Overview -->


										<!-- Notifications -->
										<div class="row">
											<div class="col-lg-6 col-md-12">
												<div class="dashboard-gravity-list with-icons">
                                                    <h4>Mes nouveaux <a style="color:#232A34;" [routerLink]="['/views/listApplication']">postulations</a> <br>
                                                        <span class="badge badge-danger">Nouveau</span></h4>
                                                    <div class="table-responsive" id="entities" *ngIf="applications?.length > 0">

                                                    <ul>
                                                        <div *ngFor="let application of applications ;trackBy: trackId;let i =index;">
                                                            <div *ngIf="(i > (applications?.length)-(numberIterations+1))">

														<li>

                                                            <i class="dash-icon-box ti-files" style="color: rgb(68, 177, 177);"></i>
                                                            <strong>
                                                                <a [routerLink]="['/views',application?.internship?.id,'viewInternship']">
                                                                    <span style="color: rgb(69, 117, 146);font-weight:bold">{{ application.internship?.entitled }}</span>
                                                                </a>
                                                            </strong>
															<ul>
																<!--<li class="paid">Paid</li>
																<li>Order: #20550</li>-->
																<a style="color: brown;" [routerLink]="['/views',application?.internship?.company?.id,'profilesociety']"> {{ application?.internship?.company?.nameCompany }}</a>
															</ul>
                                                        </li>
                                                        </div>
                                                    </div>
                                                    </ul>
                                                </div>
											</div>
										</div>

											<div class="col-lg-6 col-md-12">
												<div class="dashboard-gravity-list invoices with-icons">
                                                    <h4>Nouveaux <a style="color:#232A34;" [routerLink]="['/views/listInvitationInterview']">invitations entretiens</a> <br>
                                                        <span class="badge badge-danger">Nouveau</span></h4>


                                                    <div class="table-responsive" id="entities" *ngIf="invitationInterviews?.length > 0">
													<ul>
                                                        <div  *ngFor="let invitationInterview of invitationInterviews ;trackBy: trackIdInvitInterview;let i = index">
                                                            <div *ngIf="(i > (invitationInterviews?.length)-(numberIterations+1))">
														<li>

                                                            <i class="dash-icon-box ti-star" style="color:rgb(224, 224, 0)"></i>
															<strong><a [routerLink]="['/views',invitationInterview?.application?.internship?.id,'viewInternship']"><span style="color:rgb(69, 117, 146); font-weight:bold">{{ invitationInterview.application?.internship?.entitled }}</span></a></strong>
															<ul>
																<!--<li class="paid">Paid</li>
                                                                <li>Order: #20550</li>-->
                                                                <a [routerLink]="['views',invitationInterview?.company?.id,'profilesociety']"><strong><li style="color: brown;">{{ invitationInterview?.company?.nameCompany}}</li></strong></a> |
																<li class="badge badge-danger" style="color: rgb(99, 179, 103);">{{ invitationInterview.dateInterview | date:"medium" }}</li>
                                                            </ul>

                                                        </li>
                                                    </div>
                                                </div>
                                                    </ul>
                                                </div>
												</div>
											</div>
                                        </div>





                                    </div>




									</div>

								</div>
                            </div>



			</section>
			<!-- General Detail End -->

			<!-- ============================ Call To Action ================================== -->

			<!-- ============================ Call To Action End ================================== -->

			<!-- ============================ Before Footer ================================== -->

			<!-- ============================ Before Footer ================================== -->

