<div class="clearfix"></div>

			<!-- Header Title Start -->
			<section class="inner-header-title blank" style="background-image:url(../../content/images/banner-10.jpg);">
				<div class="container">
					<h1>Modifier Etudiant</h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Header Title End -->

			<!-- General Detail Start -->
			<div class="detail-desc section">
				<div class="container">
					<div class="ur-detail-wrap create-kit padd-bot-0">

                        <form class="add-feild" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group" [hidden]="!editForm.get('id')!.value">

                                <input type="text" class="form-control" id="id" name="id" formControlName="id" hidden />
                            </div>


                            <div class="row bottom-mrg">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="enisIntershipApp.student.photo" for="field_photo"></label>
                                    <div class="detail-pic js">
                                    <div class="box">

                                        <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">

                                            <a class="pull-left" (click)="openFile(editForm.get('photoContentType')!.value, editForm.get('photo')!.value)">
                                                <img [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value" style="max-height: 100px;" *ngIf="editForm.get('photo')!.value" alt="student image"/>
                                            </a><br>



                                        </div>
                                        <input type="file"  id="upload-pic" class="inputfile" (change)="setFileData($event, 'photo', false)" jhiTranslate="entity.action.addblob"/>
                                        <label for="upload-pic"><i class="fa fa-upload" aria-hidden="true"></i></label>
                                    </div>
                                    </div>
                                    <input type="hidden" class="form-control" name="photo" id="field_photo"
                                    formControlName="photo"/>
                                     <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                                    formControlName="photoContentType" />
                                </div>
                            </div>


                            <div class="col-md-6 col-sm-6">
                               <div class="form-group">
                                    <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{ 'settings.form.firstname.placeholder' | translate }}"
                                        formControlName="firstName">
                                            <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                                                <small class="form-text text-danger"
                                                    *ngIf="editForm.get('firstName')?.errors?.required"
                                                    jhiTranslate="settings.messages.validate.firstname.required">
                                                    Your first name is required.
                                                </small>

                                                <small class="form-text text-danger"
                                                    *ngIf="editForm.get('firstName')?.errors?.minlength"
                                                    jhiTranslate="settings.messages.validate.firstname.minlength">
                                                    Your first name is required to be at least 1 character.
                                                </small>

                                                <small class="form-text text-danger"
                                                    *ngIf="editForm.get('firstName')?.errors?.maxlength"
                                                    jhiTranslate="settings.messages.validate.firstname.maxlength">
                                                    Your first name cannot be longer than 50 characters.
                                                </small>
                                            </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{ 'settings.form.lastname.placeholder' | translate }}"
                                           formControlName="lastName">

                                    <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('lastName')?.errors?.required"
                                               jhiTranslate="settings.messages.validate.lastname.required">
                                            Your last name is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('lastName')?.errors?.minlength"
                                               jhiTranslate="settings.messages.validate.lastname.minlength">
                                            Your last name is required to be at least 1 character.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('lastName')?.errors?.maxlength"
                                               jhiTranslate="settings.messages.validate.lastname.maxlength">
                                            Your last name cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                           formControlName="email"  disabled>


                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label"  for="field_phoneNumber">Telephone</label>
                                    <input type="number" class="form-control" name="phoneNumber" id="field_phoneNumber"
                                        formControlName="phoneNumber"/>
                                    <div *ngIf="editForm.get('phoneNumber')!.invalid && (editForm.get('phoneNumber')!.dirty || editForm.get('phoneNumber')!.touched)">
                                        <small class="form-text text-danger"
                                            *ngIf="editForm.get('phoneNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                        </small>
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.get('phoneNumber')?.errors?.number" jhiTranslate="entity.validation.number">
                                            This field should be a number.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="field_country">Pays</label>
                                    <input type="text" class="form-control" name="country" id="field_country"
                                           formControlName="country"/>
                                    <div *ngIf="editForm.get('country')!.invalid && (editForm.get('country')!.dirty || editForm.get('country')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('country')?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label"  for="field_city">Ville</label>
                                    <input type="text" class="form-control" name="city" id="field_city"
                                           formControlName="city"/>
                                    <div *ngIf="editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('city')?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="field_postalCode">Code Postale</label>
                                    <input type="number" class="form-control" name="postalCode" id="field_postalCode"
                                           formControlName="postalCode"/>
                                    <div *ngIf="editForm.get('postalCode')!.invalid && (editForm.get('postalCode')!.dirty || editForm.get('postalCode')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('postalCode')?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                        </small>
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.get('postalCode')?.errors?.number" jhiTranslate="entity.validation.number">
                                            This field should be a number.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="enisIntershipApp.student.department" for="field_department">Department</label>
                                    <select class="form-control" id="field_department" name="department" formControlName="department">
                                        <option [ngValue]="null"></option>
                                        <option [ngValue]="departmentOption.id === editForm.get('department')!.value?.id ? editForm.get('department')!.value : departmentOption" *ngFor="let departmentOption of departments; trackBy: trackById">{{ departmentOption.name }}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="enisIntershipApp.student.level" for="field_level">Level</label>
                                    <select class="form-control" name="level" formControlName="level" id="field_level">
                                        <option value="FIRSTYEAR">{{ 'enisIntershipApp.Level.FIRSTYEAR' | translate }}</option>
                                        <option value="SECONDYEAR">{{ 'enisIntershipApp.Level.SECONDYEAR' | translate }}</option>
                                        <option value="THIRDYEAR">{{ 'enisIntershipApp.Level.THIRDYEAR' | translate }}</option>
                                    </select>
                                    <div *ngIf="editForm.get('level')!.invalid && (editForm.get('level')!.dirty || editForm.get('level')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('level')?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label class="form-control-label" jhiTranslate="enisIntershipApp.student.cv" for="field_cv">Cv</label>
                                <div>
                                    <div *ngIf="editForm.get('cv')!.value" class="form-text text-danger clearfix">
                                        <a class="pull-left" (click)="openFile(editForm.get('cvContentType')!.value, editForm.get('cv')!.value)" jhiTranslate="entity.action.open">open</a><br>
                                        <span class="pull-left">{{ editForm.get('cvContentType')!.value }}, {{ byteSize(editForm.get('cv')!.value) }}</span>
                                        <button type="button" (click)="editForm.patchValue({cv: null});editForm.patchValue({cvContentType: null});"
                                                class="btn btn-secondary btn-xs pull-right">
                                            <fa-icon icon="times"></fa-icon>
                                        </button>
                                    </div>
                                    <input type="file" id="file_cv" (change)="setFileData($event, 'cv', false)" jhiTranslate="entity.action.addblob"/>
                                </div>
                                <input type="hidden" class="form-control" name="cv" id="field_cv"
                                       formControlName="cv"/>
                                <input type="hidden" class="form-control" name="cvContentType" id="field_cvContentType"
                                       formControlName="cvContentType" />
                                <div *ngIf="editForm.get('cv')!.invalid && (editForm.get('cv')!.dirty || editForm.get('cv')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('cv')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                    </small>
                                </div>
                            </div>

                        <div class="row no-padd">
                            <div class="detail pannel-footer">
                                <div class="col-md-12 text-center">
                                    <div>
                                        <button type="submit" id="save-entity"
                                        [disabled]="editForm.invalid || isSaving" class="btn btn-success" >
                                        <fa-icon icon="save"></fa-icon>&nbsp;<span >Enregistrer</span>

                                        </button>


                                        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
            </div>

