
<form (ngSubmit)="choosePeriod(affectation)" name="editForm" role="form" novalidate [formGroup]="editForm" >
    <div class="modal-header" >
        <h4 class="modal-title"  >Choisir la période de stage</h4>    
    </div>
    <div class="modal-body">
        <h5>Veuillez choisir la période du stage</h5>
        <p style="margin-top: 30px;"><span style="color:red;font-size: 20px;text-decoration: underline;font-weight:500;margin-right: 20px;">NB:</span>              Votre choix est définitif et irréversible !!!! </p>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="enisIntershipApp.affectation.startDate" for="field_startDate">Start Date</label>
            <div class="d-flex">
                <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"/>
            </div>
            
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="enisIntershipApp.affectation.endDate" for="field_endDate">End Date </label>
            <div class="d-flex">
                <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"/>
            </div>
            
        </div>
    </div>

    <div class="pull-right" style="margin-right: 2%;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span >Retour</span>
        </button>

        <button type="submit" class="btn btn-success">
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Confirmer</span>
        </button>
    </div>
</form>