<div class="wrapper">
    <!-- Start Navigation -->

    <!-- End Navigation -->

        <!-- Header Title Start -->
        <section class="inner-header-title blank">
            <div class="container">
                <h1>Créer un offre</h1>
            </div>
        </section>
        <!-- Header Title End -->

        <!-- General Detail Start -->
        <div class="detail-desc section">
            <div class="container">
                <div class="ur-detail-wrap create-kit padd-bot-0">
                        <form class="add-feild" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                            <jhi-alert-error></jhi-alert-error>

                                <div class="form-group" [hidden]="!editForm.get('id')!.value">

                                    <input type="text" class="form-control" id="id" name="id" formControlName="id" hidden />
                                </div>

                                <div class="row bottom-mrg">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.photo" for="field_photo"></label>
                                        <div class="detail-pic js">
                                        <div class="box">

                                            <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">

                                                <a class="pull-left" (click)="openFile(editForm.get('photoContentType')!.value, editForm.get('photo')!.value)">
                                                    <img [src]="'data:' + editForm.get('photoContentType')!.value  + ';base64,' + editForm.get('photo')!.value" alt="internship image"
                                                        class="attachment-thumbnail" alt="Offre image"/>
                                                </a><br>



                                                <button type="button" (click)="editForm.patchValue({photo: null});editForm.patchValue({photoContentType: null});"
                                                        class="btn btn-secondary btn-xs pull-right">
                                                        <fa-icon icon="times"></fa-icon>

                                                </button>
                                            </div>
                                            <input type="file"  id="upload-pic" class="inputfile" (change)="setFileData($event, 'photo', false)" jhiTranslate="entity.action.addblob"/>
                                            <label for="upload-pic"><i class="fa fa-upload" aria-hidden="true"></i></label>
                                        </div>
                                        </div>
                                        <input type="hidden" class="form-control" name="photo" id="field_photo"
                                        formControlName="photo"/>
                                         <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                                        formControlName="photoContentType" />
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.entitled" for="field_entitled"></label>
                                        <input type="text" class="form-control" id="field_entitled" name="entitled" formControlName="entitled">
                                        <div *ngIf="editForm.get('entitled')!.invalid && (editForm.get('entitled')!.dirty || editForm.get('entitled')!.touched)">
                                            <small class="form-text text-danger"
                                                *ngIf="editForm.get('entitled')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.duration" for="field_duration"></label>
                                        <input type="text" class="form-control" name="duration" id="field_duration"  formControlName="duration">
                                        <div *ngIf="editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty || editForm.get('duration')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('duration')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.level" for="field_level"></label>
                                        <select class="form-control" name="level" formControlName="level" id="field_level">
                                            <option value="FIRSTYEAR">{{ 'enisIntershipApp.Level.FIRSTYEAR' | translate }}</option>
                                            <option value="SECONDYEAR">{{ 'enisIntershipApp.Level.SECONDYEAR' | translate }}</option>
                                            <option value="THIRDYEAR">{{ 'enisIntershipApp.Level.THIRDYEAR' | translate }}</option>
                                        </select>
                                        <div *ngIf="editForm.get('level')!.invalid && (editForm.get('level')!.dirty || editForm.get('level')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('level')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.domain" for="field_domain"></label>
                                        <select class="form-control" name="domain" formControlName="domain" id="field_domain">
                                            <option value="ELECTRONIC">{{ 'enisIntershipApp.Domain.ELECTRONIC' | translate }}</option>
                                            <option value="BIOLOGY">{{ 'enisIntershipApp.Domain.BIOLOGY' | translate }}</option>
                                            <option value="COMPUTERSCIENCE">{{ 'enisIntershipApp.Domain.COMPUTERSCIENCE' | translate }}</option>
                                            <option value="CIVIL">{{ 'enisIntershipApp.Domain.CIVIL' | translate }}</option>
                                            <option value="ELECTROMECHANIC">{{ 'enisIntershipApp.Domain.ELECTROMECHANIC' | translate }}</option>
                                            <option value="MATERIAL">{{ 'enisIntershipApp.Domain.MATERIAL' | translate }}</option>
                                            <option value="GEOLOGY">{{ 'enisIntershipApp.Domain.GEOLOGY' | translate }}</option>        
                                        </select>
                                        <div *ngIf="editForm.get('domain')!.invalid && (editForm.get('domain')!.dirty || editForm.get('domain')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('domain')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-16 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.description" for="field_description"></label>
                                        <textarea class="form-control" name="description" id="field_description" formControlName="description"></textarea>
                                        <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-16 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="enisIntershipApp.internship.brochure" for="field_brochure"></label>
                                        <div>
                                            <div *ngIf="editForm.get('brochure')!.value" class="form-text text-danger clearfix">
                                                <a class="pull-left" (click)="openFile(editForm.get('brochureContentType')!.value, editForm.get('brochure')!.value)" jhiTranslate="entity.action.open">open</a><br>
                                                <span class="pull-left">{{ editForm.get('brochureContentType')!.value }}, {{ byteSize(editForm.get('brochure')!.value) }}</span>
                                                <button type="button" (click)="editForm.patchValue({brochure: null});editForm.patchValue({brochureContentType: null});"
                                                        class="btn btn-secondary btn-xs pull-right">
                                                    <fa-icon icon="times"></fa-icon>
                                                </button>
                                            </div>
                                            <input type="file" id="file_brochure" (change)="setFileData($event, 'brochure', false)" jhiTranslate="entity.action.addblob"/>
                                        </div>
                                        <input type="hidden" class="form-control" name="brochure" id="field_brochure"
                                            formControlName="brochure"/>
                                        <input type="hidden" class="form-control" name="brochureContentType" id="field_brochureContentType"
                                            formControlName="brochureContentType" />
                                    </div>
                                </div>



                            <div class="row no-padd">
                                <div class="detail pannel-footer">
                                    <div class="col-md-12 col-sm-12">
                                        <div>
                                            <button type="submit" jhiTranslate="entity.action.save" id="save-entity"
                                            [disabled]="editForm.invalid || isSaving" class="btn btn-success" >
                                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Enregistrer</span>

                                            </button>


                                            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                </div>
            </div>
        </div>

    </div>


