

            <!-- Sidebar Wrap -->

                <div *jhiHasAnyAuthority="'ROLE_COMPANY'" class="full-sidebar-wrap">
                    <div *ngIf="company">
                    <div class="sidebar-widgets">

                        <div class="ur-detail-wrap">

                            <div class="ur-detail-wrap-header">
                        <div class="dashboard-avatar-thumb">
                           <div *ngIf="company.photo">
                            <a (click)="openFile(company?.photoContentType!, company?.photo)">
                                <img [src]="'data:' + company.photoContentType + ';base64,' + company.photo" style="max-width: 100%;" alt="company image"/>
                            </a>
                            </div>
                        </div>

                        <div class="dashboard-avatar-text text-center">
                            <h4>{{company.nameCompany}}</h4>

                        </div>

                    </div>
                    <form>
                        <div class="form-group">
                    <div class="dashboard-menu">
                        <ul>
                            <li class="active"><a [routerLink]="['/views/home-company']"><i class="ti-dashboard"></i>Dashboard</a></li>
                            <li><a [routerLink]="['/views', company.id, 'profilesociety']"><i class="ti-user"></i>Profil</a></li>
                            <li><a [routerLink]="['/views/listeOffres']" ><i class="ti-wallet"></i>Mes offres</a></li>
                            <li><a [routerLink]="['/views/numbreDePostulationParOffre']"><i class="ti-ruler-pencil"></i>Tous les postulations reçues</a></li>
                            <li><a [routerLink]="['/views/list-confirmation-interview']"><i class="ti-briefcase"></i>Les entretiens planifités</a></li>

                            <li><a href="choose-package.html"><i class="ti-cup"></i>Choose Packages</a></li>
                            <li><a href="#"><i class="ti-flag-alt-2"></i>Fiche d'entretien</a></li>
                            <li><a [routerLink]="['/company', company.id, 'edit']"><i class="ti-id-badge"></i>Edit Profile</a></li>
                            <li><a (click)="logout()"><i class="ti-power-off"></i>Logout</a></li>
                        </ul>
                    </div>
                </div>
                  </form>
                </div>
            </div>
        </div>
    </div>

    	<!-- Sidebar Wrap -->

            <div *jhiHasAnyAuthority="'ROLE_STUDENT'" class="full-sidebar-wrap">
                <div *ngIf="student">
                <div class="sidebar-widgets">

                    <div class="ur-detail-wrap">

                        <div class="ur-detail-wrap-header">
                    <div class="dashboard-avatar-thumb">
                        <div *ngIf="student.photo">
                            <a (click)="openFile(student?.photoContentType!, student?.photo)">
                            <img [src]="'data:' + student.photoContentType + ';base64,' + student.photo" style="max-width: 100%;" alt="student image"/>
                        </a>
                        </div>
                    </div>

                    <div class="dashboard-avatar-text text-center">
                        <h4>{{student.user?.firstName}} {{student.user?.lastName}}</h4>
                        <span>{{student.level}}</span><br>
                        <span>{{student.department?.name}}</span>
                    </div>

                </div>
                <form>
                    <div class="form-group">
                <div class="dashboard-menu">
                    <ul>
                        <li class="active"><a [routerLink]="['/views/home-student']"><i class="ti-dashboard"></i>Dashboard</a></li>
                        <li><a [routerLink]="['/views', student.id, 'student-profile']"><i class="ti-user"></i>Profil</a></li>
                        <li><a [routerLink]="['/views/listApplication']"><i class="ti-ruler-pencil"></i>Mes postulations</a></li>
                        <li><a [routerLink]="['/views/listInvitationInterview']"><i class="ti-briefcase"></i>Toutes les invitations reçues </a></li>
                        <li><a [routerLink]="['/views', student.id, 'student-profile']"><i class="ti-wallet"></i>Mes stages affectés</a></li>
                        <li routerLinkActive="active" ><a  routerLink="/views/stud-interview"  ><i class="ti-cup"></i>Mes Entretiens</a></li>
                        <li><a href="viewed-resume.html"><i class="ti-flag-alt-2"></i>Viewed Resume</a></li>
                        <li><a [routerLink]="['/student', student.id, 'edit']"><i class="ti-id-badge"></i>Edit Profile</a></li>
                        <li><a (click)="logout()"><i class="ti-power-off"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
              </form>
            </div>
        </div>
    </div>
</div>
