<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invitationInterview">
            <h2><span jhiTranslate="enisIntershipApp.invitationInterview.detail.title">Invitation Interview</span> {{ invitationInterview.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enisIntershipApp.invitationInterview.confirmation">Confirmation</span></dt>
                <dd>
                    <span>{{ invitationInterview.confirmation }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.invitationInterview.dateInterview">Date Interview</span></dt>
                <dd>
                    <span>{{ invitationInterview.dateInterview }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.invitationInterview.application">Application</span></dt>
                <dd>
                    <div *ngIf="invitationInterview.application">
                        <a [routerLink]="['/application', invitationInterview.application?.id, 'view']">{{ invitationInterview.application?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.invitationInterview.company">Company</span></dt>
                <dd>
                    <div *ngIf="invitationInterview.company">
                        <a [routerLink]="['/company', invitationInterview.company?.id, 'view']">{{ invitationInterview.company?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invitation-interview', invitationInterview.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
