<div>
    <h2 id="page-heading">
        <span jhiTranslate="enisIntershipApp.invitationInterview.home.title">Invitation Interviews</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invitation-interview" [routerLink]="['/invitation-interview/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enisIntershipApp.invitationInterview.home.createLabel">
            Create a new Invitation Interview
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="invitationInterviews?.length === 0">
        <span jhiTranslate="enisIntershipApp.invitationInterview.home.notFound">No invitationInterviews found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="invitationInterviews?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="confirmation"><span jhiTranslate="enisIntershipApp.invitationInterview.confirmation">Confirmation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateInterview"><span jhiTranslate="enisIntershipApp.invitationInterview.dateInterview">Date Interview</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="application.id"><span jhiTranslate="enisIntershipApp.invitationInterview.application">Application</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="company.id"><span jhiTranslate="enisIntershipApp.invitationInterview.company">Company</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invitationInterview of invitationInterviews ;trackBy: trackId">
                    <td><a [routerLink]="['/invitation-interview', invitationInterview.id, 'view']">{{ invitationInterview.id }}</a></td>
                    <td>{{ invitationInterview.confirmation }}</td>
                    <td>{{ invitationInterview.dateInterview | date:'medium' }}</td>
                    <td>
                        <div *ngIf="invitationInterview.application">
                            <a [routerLink]="['/application', invitationInterview.application?.id, 'view']" >{{ invitationInterview.application?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="invitationInterview.company">
                            <a [routerLink]="['/company', invitationInterview.company?.id, 'view']" >{{ invitationInterview.company?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/invitation-interview', invitationInterview.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/invitation-interview', invitationInterview.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(invitationInterview)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="invitationInterviews?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
