<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-invitation-interview-heading" jhiTranslate="enisIntershipApp.invitationInterview.home.createOrEditLabel">Create or edit a Invitation Interview</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.invitationInterview.confirmation" for="field_confirmation">Confirmation</label>
                    <input type="text" class="form-control" name="confirmation" id="field_confirmation"
                           formControlName="confirmation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.invitationInterview.dateInterview" for="field_dateInterview">Date Interview</label>
                    <div class="d-flex">
                        <input id="field_dateInterview" type="datetime-local" class="form-control" name="dateInterview" formControlName="dateInterview" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateInterview')!.invalid && (editForm.get('dateInterview')!.dirty || editForm.get('dateInterview')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateInterview')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateInterview')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.invitationInterview.application" for="field_application">Application</label>
                    <select class="form-control" id="field_application" name="application" formControlName="application">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="applicationOption.id === editForm.get('application')!.value?.id ? editForm.get('application')!.value : applicationOption" *ngFor="let applicationOption of applications; trackBy: trackById">{{ applicationOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.invitationInterview.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="company">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id === editForm.get('company')!.value?.id ? editForm.get('company')!.value : companyOption" *ngFor="let companyOption of companies; trackBy: trackById">{{ companyOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
