<form *ngIf="invitationInterview" name="cancellationForm" (ngSubmit)="annuler(invitationInterview)">
    <div class="modal-header" >
        <h4 class="modal-title"  >Annuler cet entretien</h4>    
    </div>

    <div class="modal-body">
        <h5>Voulez vous confirmer l'annulation de cet entretien</h5>
    </div>

    <div class="pull-right" style="margin-right: 2%;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span >Retour</span>
        </button>

        <button id="jhi-confirm-delete-invitationInterview" type="submit" class="btn btn-danger">
            <fa-icon icon="times"></fa-icon>&nbsp;<span>valider</span>
        </button>
    </div>
</form>