<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url(../../../content/assets/assets/img/bn2.jpg);">
    <div class="container">
        <h1>Liste des Stages</h1>
    </div>
  </section>
  <div class="clearfix"></div>

      <!-- General Detail Start -->
      <section class="advance-search">
        <div class="container col-md-11">
            <div class="row">

                <div class="col-md-4 col-sm-12">
                    <jhi-side-bar></jhi-side-bar>
                </div>

                <div class="col-md-8 col-sm-12">

                    <!--Filter -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filter-wraps">

                                <div class="filter-wraps-one">
                                    
                                    <div class="search- interships">
                                        <input id="myInput" type="search" [(ngModel)]="filter" style="font-family: FontAwesome;" placeholder="&#xF002;  Intitulé Stage ou Mot-clé"  class="form-control">
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--/.Filter -->

                    <!--Browse Job -->
                    <!-- row -->
                    <div class="row">



                      <jhi-alert-error></jhi-alert-error>

                      <jhi-alert></jhi-alert>
                      <div class="alert alert-warning" id="no-result" *ngIf="internships?.length === 0">
                          <span jhiTranslate="enisIntershipApp.internship.home.notFound">No internships found</span>
                      </div>
                    </div>
                    <!-- row -->
                    
                    <div  id="entities" *ngIf="internships?.length > 0"></div>
                    <ul class="list"*ngFor="let internship of (internships | pureFilter:filter:'entitled') ;trackBy: trackId">

                        <div class="newjob-list-layout" >
                          <div class="cll-wrap">
                              <div class="cll-thumb">
                                   <a [routerLink]="['/views', internship.id, 'viewInternship']">
                                    <img [src]="'data:' + internship.company?.photoContentType  + ';base64,' + internship.company?.photo" class="img-responsive img-circle" alt="" />
                                    <img  *ngIf="internship.company?.photo === null" src="../../../../content/images/laptop.jpg" class="img-responsive" ></a>

                              </div>
                              <div class="cll-caption">
                                  <h4><a [routerLink]="['/views', internship.id, 'viewInternship']">{{internship.entitled}}</a><span class="jb-status full-time">{{internship.domain}}</span><span class="jb-status part-time">{{ internship.level }}</span></h4>
                                  <ul>
                                      <li><i class="ti-home cl-danger"></i>{{internship.company?.nameCompany}}</li>
                                      <li><i class="fa fa-map-marker"></i>{{internship.company?.city }}</li>
                                      <li><i class="fa fa-hourglass-half cl-success"></i>{{internship.duration}} </li>
                                  </ul>
                              </div>
                          </div>

                          <div class="cll-right">
                              <a  [routerLink]="['/views',internship.id,'newApplication']" class="btn theme-btn btn-shortlist"><i class="ti-arrow-right"></i>Postuler</a>
                          </div>
                      </div>
                      </ul>
                    <!--/.Browse Job-->


                    <div *ngIf="internships?.length > 0">
                      <div class="row justify-content-center">
                          <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                      </div>

                      <div class="row justify-content-center">
                          <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                      </div>
                  </div>

                </div>

            </div>
        </div>
    </section>
      <!-- General Detail End -->

