<div class="wrapper">

    <!-- Title Header Start -->
    <section class="inner-header-title" style="background-image:url(../../../content/images/liste-condidature.jpg);">
        <div class="container">
            <h1>Liste des stagaires</h1>
        </div>
    </section>



    <!-- Title Header End -->

    <!-- Top Candidate 2 Start -->
    <section class="accordion">
        <div class="container">
            <!-- search filter -->
            <div class="row extra-mrg">
                <div class="wrap-search-filter">
                    <h4><i class="ti-user"></i>Liste stagaires : {{internshipPATH?.entitled}}</h4>
                    <p style="color: red;">L'évaluation de l'étudiant n'est autorisée qu'à la fin de son stage</p>
                    <!--<form>
                            <div class="col-md-3 col-sm-3">
                                <input type="text" class="form-control" placeholder="Anywhere...">
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input type="text" class="form-control" placeholder="Keyword. Design, Seo..">
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <select class="form-control" id="j-category">
                                    <option value="">&nbsp;</option>
                                    <option value="1">Admin Support</option>
                                    <option value="2">Customer Service</option>

                                </select>

                            </div>
                            <div class="col-md-3 col-sm-3">
                                <button type="submit" class="btn btn-primary full-width">Filter</button>
                            </div>
                        </form>-->
                </div>
            </div>
            <!-- search filter End -->
                <jhi-alert-error></jhi-alert-error>

                <jhi-alert></jhi-alert>
                <div class="alert alert-warning" id="no-result" *ngIf="affectations?.length === 0">
                    <span jhiTranslate="enisIntershipApp.affectation.home.notFound">No affectations found</span>
                </div>
            <!-- Freelancers Style 2 Start -->
            <div class="row" *ngIf="affectations?.length > 0" >


                <!-- Single Freelancer Style 2 -->
                <div class="col-md-4 col-sm-6" *ngFor="let affectation of affectations ;trackBy: trackId">





                                    <div class="manage-cndt">
                                        <!--
                                        <div *ngIf="affectation.studentEvaluation">
                                        <div class="cndt-status available">Evalué</div>
                                        </div>
                                        -->
                                        <div class="cndt-caption">
                                            <div class="cndt-pic">
                                                <a (click)="openFile(affectation.student?.photoContentType!, affectation.student?.photo)">
                                                    <img [src]="'data:' + affectation.student?.photoContentType + ';base64,' + affectation.student?.photo" style="max-width: 100%;" alt="student image"/>
                                                </a>
                                            </div>
                                            <div *ngIf="affectation.student">
                                               <h4><a style="color: black ;  font-weight:normal;text-decoration:none;" [routerLink]="['/views', affectation.student?.id, 'student-profile']" >
                                               {{affectation.student?.user?.firstName}} {{affectation.student?.user?.lastName}}</a></h4>
                                               <p>{{affectation.student?.department?.name}}<br>
                                                <span>
                                                    {{affectation.student?.level}}
                                                </span>
                                               </p>
                                               <p *ngIf="!getDate(affectation)" style="color: red;">Periode de stage :<br> {{DatetoString(affectation.startDate)}}  --  {{DatetoString(affectation.endDate)}}</p>

                                            </div>

                                        </div>
                                        <a *ngIf="getDate(affectation)" title="" class="cndt-profile-btn " (click)="period(affectation)" >Fixer Période du stage </a>
                                        <a *ngIf="!getDate(affectation)&& today>affectation.endDate"title="" class="cndt-profile-btn " (click)="evaluate(affectation)" >Evaluer </a>

                                        <p *ngIf="!getDate(affectation)&& affectation.endDate>today"title="" class="cndt-profile-btn disabled"  >Evaluer </p>
                                        <!--
                                        <div *ngIf="!affectation.studentEvaluation">
                                        <a  title="" class="cndt-profile-btn" (click)="evaluate(affectation,affectation.student)" >Evaluer</a>
                                        </div>
                                        <div *ngIf="affectation.studentEvaluation">
                                            <a  title="" class="cndt-profile-btn" style="cursor: not-allowed;">Evaluer</a>
                                        </div>
                                        -->

                                </div>







                </div>


                <div class="col-md-12 col-sm-12">
                    <div *ngIf="affectations?.length > 0">
                        <div class="row justify-content-center">
                            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                        </div>

                        <div class="row justify-content-center">
                            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                        </div>
                    </div>
                </div>


            </div>


        </div>

  </section>

</div>
