<div>
    <h2 id="page-heading">
        <span jhiTranslate="enisIntershipApp.student.home.title">Students</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student" [routerLink]="['/student/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enisIntershipApp.student.home.createLabel">
            Create a new Student
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="students?.length === 0">
        <span jhiTranslate="enisIntershipApp.student.home.notFound">No students found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="students?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.student.photo">Photo</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.student.city">City</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.student.country">Country</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.student.postalCode">Postal Code</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.student.phoneNumber">Phone Number</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.student.cv">Cv</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.student.level">Level</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.student.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.student.department">Department</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students ;trackBy: trackId">
                    <td><a [routerLink]="['/student', student.id, 'view']">{{ student.id }}</a></td>
                    <td>
                        <a *ngIf="student.photo" (click)="openFile(student.photoContentType, student.photo)">
                            <img [src]="'data:' + student.photoContentType + ';base64,' + student.photo" style="max-height: 30px;" alt="student image"/>
                        </a>
                        <span *ngIf="student.photo">{{ student.photoContentType }}, {{ byteSize(student.photo) }}</span>
                    </td>
                    <td>{{ student.city }}</td>
                    <td>{{ student.country }}</td>
                    <td>{{ student.postalCode }}</td>
                    <td>{{ student.phoneNumber }}</td>
                    <td>
                        <a *ngIf="student.cv" (click)="openFile(student.cvContentType, student.cv)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="student.cv">{{ student.cvContentType }}, {{ byteSize(student.cv) }}</span>
                    </td>
                    <td jhiTranslate="{{ 'enisIntershipApp.Level.' + student.level }}">{{ student.level }}</td>
                    <td>
                        {{ student.user?.id }}
                    </td>
                    <td>
                        <div *ngIf="student.department">
                            <a [routerLink]="['/department', student.department?.id, 'view']" >{{ student.department?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/student', student.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/student', student.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(student)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/views', student.id, 'student-profile']"
                            class="btn btn-info btn-sm">
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline">Profil</span>
                    </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
