<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span jhiTranslate="enisIntershipApp.student.detail.title">Student</span> {{ student.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enisIntershipApp.student.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="student.photo">
                        <a (click)="openFile(student?.photoContentType!, student?.photo)">
                            <img [src]="'data:' + student.photoContentType + ';base64,' + student.photo" style="max-width: 100%;" alt="student image"/>
                        </a>
                        {{ student.photoContentType }}, {{ byteSize(student.photo) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.student.city">City</span></dt>
                <dd>
                    <span>{{ student.city }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.student.country">Country</span></dt>
                <dd>
                    <span>{{ student.country }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.student.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{ student.postalCode }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.student.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ student.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.student.cv">Cv</span></dt>
                <dd>
                    <div *ngIf="student.cv">
                        <a (click)="openFile(student?.cvContentType!, student?.cv)" jhiTranslate="entity.action.open">open</a>
                        {{ student.cvContentType }}, {{ byteSize(student.cv) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.student.level">Level</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'enisIntershipApp.Level.' + student.level }}">{{ student.level }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.student.user">User</span></dt>
                <dd>
                    {{ student.user?.id }}
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.student.department">Department</span></dt>
                <dd>
                    <div *ngIf="student.department">
                        <a [routerLink]="['/department', student.department?.id, 'view']">{{ student.department?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student', student.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
