<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="interview">
            <h2><span jhiTranslate="enisIntershipApp.interview.detail.title">Interview</span> {{ interview.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enisIntershipApp.interview.date">Date</span></dt>
                <dd>
                    <span>{{ interview.date }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.presence">Presence</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'enisIntershipApp.ATTENDANCE.' + interview.presence }}">{{ interview.presence }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.state">State</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'enisIntershipApp.STATE.' + interview.state }}">{{ interview.state }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.communication">Communication</span></dt>
                <dd>
                    <span>{{ interview.communication }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.scoreCommunication">Score Communication</span></dt>
                <dd>
                    <span>{{ interview.scoreCommunication }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.technical">Technical</span></dt>
                <dd>
                    <span>{{ interview.technical }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.scoretTechnical">Scoret Technical</span></dt>
                <dd>
                    <span>{{ interview.scoretTechnical }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.other">Other</span></dt>
                <dd>
                    <span>{{ interview.other }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.studFinalChoice">Stud Final Choice</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'enisIntershipApp.Choice.' + interview.studFinalChoice }}">{{ interview.studFinalChoice }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.invitationInterview">Invitation Interview</span></dt>
                <dd>
                    <div *ngIf="interview.invitationInterview">
                        <a [routerLink]="['/invitation-interview', interview.invitationInterview?.id, 'view']">{{ interview.invitationInterview?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.company">Company</span></dt>
                <dd>
                    <div *ngIf="interview.company">
                        <a [routerLink]="['/company', interview.company?.id, 'view']">{{ interview.company?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.student">Student</span></dt>
                <dd>
                    <div *ngIf="interview.student">
                        <a [routerLink]="['/student', interview.student?.id, 'view']">{{ interview.student?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.interview.internship">Internship</span></dt>
                <dd>
                    <div *ngIf="interview.internship">
                        <a [routerLink]="['/internship', interview.internship?.id, 'view']">{{ interview.internship?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/interview', interview.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
