<div>
    <h2 id="page-heading">
        <span jhiTranslate="enisIntershipApp.interview.home.title">Interviews</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-interview" [routerLink]="['/interview/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enisIntershipApp.interview.home.createLabel">
            Create a new Interview
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="interviews?.length === 0">
        <span jhiTranslate="enisIntershipApp.interview.home.notFound">No interviews found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="interviews?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="enisIntershipApp.interview.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="presence"><span jhiTranslate="enisIntershipApp.interview.presence">Presence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="state"><span jhiTranslate="enisIntershipApp.interview.state">State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="communication"><span jhiTranslate="enisIntershipApp.interview.communication">Communication</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="scoreCommunication"><span jhiTranslate="enisIntershipApp.interview.scoreCommunication">Score Communication</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="technical"><span jhiTranslate="enisIntershipApp.interview.technical">Technical</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="scoretTechnical"><span jhiTranslate="enisIntershipApp.interview.scoretTechnical">Scoret Technical</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="other"><span jhiTranslate="enisIntershipApp.interview.other">Other</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="studFinalChoice"><span jhiTranslate="enisIntershipApp.interview.studFinalChoice">Stud Final Choice</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="invitationInterview.id"><span jhiTranslate="enisIntershipApp.interview.invitationInterview">Invitation Interview</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="company.id"><span jhiTranslate="enisIntershipApp.interview.company">Company</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="student.id"><span jhiTranslate="enisIntershipApp.interview.student">Student</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="internship.id"><span jhiTranslate="enisIntershipApp.interview.internship">Internship</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let interview of interviews ;trackBy: trackId">
                    <td><a [routerLink]="['/interview', interview.id, 'view']">{{ interview.id }}</a></td>
                    <td>{{ interview.date | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'enisIntershipApp.ATTENDANCE.' + interview.presence }}">{{ interview.presence }}</td>
                    <td jhiTranslate="{{ 'enisIntershipApp.STATE.' + interview.state }}">{{ interview.state }}</td>
                    <td>{{ interview.communication }}</td>
                    <td>{{ interview.scoreCommunication }}</td>
                    <td>{{ interview.technical }}</td>
                    <td>{{ interview.scoretTechnical }}</td>
                    <td>{{ interview.other }}</td>
                    <td jhiTranslate="{{ 'enisIntershipApp.Choice.' + interview.studFinalChoice }}">{{ interview.studFinalChoice }}</td>
                    <td>
                        <div *ngIf="interview.invitationInterview">
                            <a [routerLink]="['/invitation-interview', interview.invitationInterview?.id, 'view']" >{{ interview.invitationInterview?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="interview.company">
                            <a [routerLink]="['/company', interview.company?.id, 'view']" >{{ interview.company?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="interview.student">
                            <a [routerLink]="['/student', interview.student?.id, 'view']" >{{ interview.student?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="interview.internship">
                            <a [routerLink]="['/internship', interview.internship?.id, 'view']" >{{ interview.internship?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/interview', interview.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/interview', interview.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(interview)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="interviews?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
