<div>
    <h2 id="page-heading">
        <span jhiTranslate="enisIntershipApp.companyEvaluation.home.title">Company Evaluations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company-evaluation" [routerLink]="['/company-evaluation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enisIntershipApp.companyEvaluation.home.createLabel">
            Create a new Company Evaluation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="companyEvaluations?.length === 0">
        <span jhiTranslate="enisIntershipApp.companyEvaluation.home.notFound">No companyEvaluations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="companyEvaluations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="supervision"><span jhiTranslate="enisIntershipApp.companyEvaluation.supervision">Supervision</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="acceuil"><span jhiTranslate="enisIntershipApp.companyEvaluation.acceuil">Acceuil</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="affectation.id"><span jhiTranslate="enisIntershipApp.companyEvaluation.affectation">Affectation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="company.id"><span jhiTranslate="enisIntershipApp.companyEvaluation.company">Company</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="student.id"><span jhiTranslate="enisIntershipApp.companyEvaluation.student">Student</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let companyEvaluation of companyEvaluations ;trackBy: trackId">
                    <td><a [routerLink]="['/company-evaluation', companyEvaluation.id, 'view']">{{ companyEvaluation.id }}</a></td>
                    <td>{{ companyEvaluation.supervision }}</td>
                    <td>{{ companyEvaluation.acceuil }}</td>
                    <td>
                        <div *ngIf="companyEvaluation.affectation">
                            <a [routerLink]="['/affectation', companyEvaluation.affectation?.id, 'view']" >{{ companyEvaluation.affectation?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="companyEvaluation.company">
                            <a [routerLink]="['/company', companyEvaluation.company?.id, 'view']" >{{ companyEvaluation.company?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="companyEvaluation.student">
                            <a [routerLink]="['/student', companyEvaluation.student?.id, 'view']" >{{ companyEvaluation.student?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/company-evaluation', companyEvaluation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/company-evaluation', companyEvaluation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(companyEvaluation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="companyEvaluations?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
