<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-company-evaluation-heading" jhiTranslate="enisIntershipApp.companyEvaluation.home.createOrEditLabel">Create or edit a Company Evaluation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.companyEvaluation.supervision" for="field_supervision">Supervision</label>
                    <input type="number" class="form-control" name="supervision" id="field_supervision"
                           formControlName="supervision"/>
                    <div *ngIf="editForm.get('supervision')!.invalid && (editForm.get('supervision')!.dirty || editForm.get('supervision')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('supervision')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('supervision')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.companyEvaluation.acceuil" for="field_acceuil">Acceuil</label>
                    <input type="number" class="form-control" name="acceuil" id="field_acceuil"
                           formControlName="acceuil"/>
                    <div *ngIf="editForm.get('acceuil')!.invalid && (editForm.get('acceuil')!.dirty || editForm.get('acceuil')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('acceuil')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('acceuil')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.companyEvaluation.affectation" for="field_affectation">Affectation</label>
                    <select class="form-control" id="field_affectation" name="affectation" formControlName="affectation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="affectationOption.id === editForm.get('affectation')!.value?.id ? editForm.get('affectation')!.value : affectationOption" *ngFor="let affectationOption of affectations; trackBy: trackById">{{ affectationOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.companyEvaluation.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="company">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id === editForm.get('company')!.value?.id ? editForm.get('company')!.value : companyOption" *ngFor="let companyOption of companies; trackBy: trackById">{{ companyOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enisIntershipApp.companyEvaluation.student" for="field_student">Student</label>
                    <select class="form-control" id="field_student" name="student" formControlName="student">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="studentOption.id === editForm.get('student')!.value?.id ? editForm.get('student')!.value : studentOption" *ngFor="let studentOption of students; trackBy: trackById">{{ studentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
