<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="companyEvaluation">
            <h2><span jhiTranslate="enisIntershipApp.companyEvaluation.detail.title">Company Evaluation</span> {{ companyEvaluation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enisIntershipApp.companyEvaluation.supervision">Supervision</span></dt>
                <dd>
                    <span>{{ companyEvaluation.supervision }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.companyEvaluation.acceuil">Acceuil</span></dt>
                <dd>
                    <span>{{ companyEvaluation.acceuil }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.companyEvaluation.affectation">Affectation</span></dt>
                <dd>
                    <div *ngIf="companyEvaluation.affectation">
                        <a [routerLink]="['/affectation', companyEvaluation.affectation?.id, 'view']">{{ companyEvaluation.affectation?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.companyEvaluation.company">Company</span></dt>
                <dd>
                    <div *ngIf="companyEvaluation.company">
                        <a [routerLink]="['/company', companyEvaluation.company?.id, 'view']">{{ companyEvaluation.company?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.companyEvaluation.student">Student</span></dt>
                <dd>
                    <div *ngIf="companyEvaluation.student">
                        <a [routerLink]="['/student', companyEvaluation.student?.id, 'view']">{{ companyEvaluation.student?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company-evaluation', companyEvaluation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
