<!--<section class="inner-header-title" style="background-image:url(../../../../content/images/stages.jpg);">
    <div class="container">
        <h1>Les Offres ayants des postulations</h1>
    </div>
  </section>-->


  <section class="advance-search">
    <!-- General Detail Start -->

    <div class="container col-md-11">
        <div class="row">
          <!-- Sidebar Wrap -->

            <div class="col-md-4 col-sm-12">
                <jhi-side-bar></jhi-side-bar>
            </div>



          <!-- Content Wrap -->
          <div class="col-md-8 col-sm-12">


            <!--Filter -->
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-wraps">

                        <h4  style="font-family:'Times New Roman', Times, serif; font-size: 150%;"><i class="ti-user"></i> Liste des stagiaires</h4>

                    </div>


                <div class="dashboard-caption-wrap">
                    <!-- row -->

                    <div class="row">

                        <jhi-alert-error></jhi-alert-error>

                        <jhi-alert></jhi-alert>
                        <div class="alert alert-warning" id="no-result" *ngIf="affectations?.length === 0">
                            <span jhiTranslate="enisIntershipApp.internship.home.notFound">Aucun stagiaire trouvé</span>
                        </div>

                    </div>
                    <!-- row -->
                    <div  id="entities" *ngIf="affectations?.length > 0"></div>
                        <ul class="list"*ngFor="let affectation of affectations  ;trackBy: trackId">
                            <div class="newjob-list-layout" >
                                <div class="cll-wrap">
                                    <div class="cll-thumb">
                                         <a [routerLink]="['/views', affectation.student?.id, 'student-profile']">
                                            <img [src]="'data:' + affectation.student?.photoContentType  + ';base64,' + affectation.student?.photo" class="img-responsive img-circle" alt="student image" /></a>
      
                                    </div>
                                    <div class="cll-caption">
                                        <h4><a [routerLink]="['/views',affectation.student?.id, 'student-profile']">{{affectation.student?.user?.firstName}} {{affectation.student?.user?.lastName}}</a>
                                            <span class="jb-status full-time">{{affectation.student?.level}}</span>
                                            <span class="jb-status part-time">{{ affectation.student?.department?.name }}</span></h4>
                                        <ul>
                                            <li><i class="ti-bag cl-danger"></i><a [routerLink]="['/views',affectation.internship?.id, 'viewInternship']">{{affectation.internship?.entitled}}</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
      
                                <div class="cll-right">
                                    <button  (click)="evaluate(affectation)" class="btn theme-btn btn-shortlist"><i class="ti-arrow-right"></i>Evaluer</button>
                                </div>
                            </div>
                          <!-- <li class="manage-list-row clearfix">
                                <div class="newjob-list-layout" >
                                    <div class="cll-wrap">
                                    <div class="job-img" *ngIf="affectation.student?.photo">
                                        <a  (click)="openFile(affectation.student?.photoContentType!, affectation.student?.photo)">
                                            <img [src]="'data:' + affectation.student?.photoContentType + ';base64,' + affectation.student?.photo" style="max-width: 100%;" alt="student image"/>
                                        </a>
                                    </div>
                                    <div class="job-details">
                                        <h3 class="job-name"><a [routerLink]="['/views', affectation.student?.id, 'student-profile']">{{affectation.student?.user?.firstName}} {{affectation.student?.user?.lastName}} </a><span class="jb-status full-time">{{affectation.student?.department?.name}}</span><span class="jb-status part-time">{{ affectation.student?.level }}</span></h3>
                                        <div *ngIf="affectation.internship"><small class="job-company"><i class="ti-bag"></i><a [routerLink]="['/views', affectation.internship?.id, 'viewInternship']">{{affectation.internship?.entitled}}</a></small></div>
                                    

                                    </div>
                                    </div>
                                    </div>
                                </div>
                              <div class="job-buttons" style="margin-top: 6%;">

                                    <button *ngIf="!invitationInterview.confirmation" type="submit" class="btn btn-success btn-sm"(click)="confirmer(invitationInterview)">Confirmer</button>
                                     <span *ngIf="invitationInterview.confirmation==='true'" class="j-type full-time">Confirmé</span>
                                     <button *ngIf="!invitationInterview.confirmation" type="submit" class="btn btn-danger btn-sm" (click)="annuler(invitationInterview)">Annuler</button>
                                     <span *ngIf="invitationInterview.confirmation==='false'" class="j-type part-time">Annulé</span>

                                </div>

                            </li>--> 
                        </ul>

                        <div *ngIf="affectations?.length > 0">

                            <div class="row justify-content-center">
                                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                            </div>

                            <div class="row justify-content-center">
                                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
          </div>

        </div>
      </div>

    <!-- General Detail End -->
    </section>















