<!--<section class="inner-header-title" style="background-image:url(../../../../content/images/stages.jpg);">
    <div class="container">
        <h1>Les Offres ayants des postulations</h1>
    </div>
  </section>-->


  <section class="advance-search">
    <!-- General Detail Start -->

    <div class="container col-md-11">
        <div class="row">
          <!-- Sidebar Wrap -->

            <div class="col-md-4 col-sm-12">
                <jhi-side-bar></jhi-side-bar>
            </div>



          <!-- Content Wrap -->
          <div class="col-md-8 col-sm-12">


            <!--Filter -->
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-wraps">

                        <h4  style="font-family:'Times New Roman', Times, serif; font-size: 150%;"><i class="ti-stats-up"></i> Nombre d'affectations par ordre décroissants</h4>

                    </div>


                <div class="dashboard-caption-wrap">
                    <!-- row -->

                    <div class="row">

                        <jhi-alert-error></jhi-alert-error>

                        <jhi-alert></jhi-alert>
                        <div class="alert alert-warning" id="no-result" *ngIf="list?.length === 0">
                            <span jhiTranslate="enisIntershipApp.internship.home.notFound">No internships found</span>
                        </div>

                    </div>
                    <!-- row -->
                    <div  id="entities" *ngIf="list?.length > 0"></div>
                        <ul class="list"*ngFor="let elt of list  ; let i = index">
                            <li class="manage-list-row clearfix">
                                <div class="job-info premium-job">
                                    <div class="job-img">
                                        <a *ngIf="elt[0].photo">
                                        <img [src]="'data:' + elt[0].photoContentType + ';base64,' + elt[0].photo" style="max-height: 50px;" alt="internship image"
                                        class="attachment-thumbnail" alt="Offre image"/>
                                        </a>

                                    </div>
                                    <div class="job-details">

                                        <h5><a [routerLink]="['/views', elt[0].id, 'viewInternship']">{{ elt[0].entitled}} </a>

                                            <span *ngIf="elt[1] == 1" class="badge badge-pill badge-danger">
                                                {{elt[1]}} affectation
                                            </span>
                                            <span *ngIf="elt[1] >1" class="badge badge-pill badge-danger">
                                                {{elt[1]}} affectations
                                            </span>
                                        </h5>
                                        <h6>
                                            <span class="badge badge-secondary">{{ elt[0].domain }}</span>
                                            <span class="badge badge-secondary">{{ elt[0].level }}</span>
                                            <span class="badge badge-secondary">{{ elt[0].duration }}</span>
                                        </h6>

                                    </div>
                                </div>
                                <div class="job-buttons">
                                   <a *ngIf="today > elt[2].endDate  " [routerLink]="['/views', elt[0].id, 'listeInterns']"  class="btn btn-success manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-arrow-right"></i>Liste de satagaires</a>
                                   <a   [routerLink]="['/views', elt[0].id, 'listeInterns']"  class="btn btn-info manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-arrow-right"></i>Fixer Periode de stage</a>
                                </div>
                            </li>
                        </ul>

                        <div *ngIf="list?.length > 0">

                            <div class="row justify-content-center">
                                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                            </div>

                            <div class="row justify-content-center">
                                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
          </div>

        </div>
      </div>

    <!-- General Detail End -->
    </section>















