<div class="wrapper">

    <!-- Title Header Start -->
    <section class="inner-header-title" style="background-image:url(../../../content/images/liste-condidature.jpg);">
        <div class="container">
            <h1>Liste des condidatures</h1>
        </div>
    </section>



    <!-- Title Header End -->

    <!-- Top Candidate 2 Start -->
    <section class="accordion">
        <div class="container">
            <!-- search filter -->
            <div class="row extra-mrg">
                <div class="wrap-search-filter">
                    <h4><i class="ti-home"></i>Liste Condidature : {{internshipPATH?.entitled}}</h4>
                    <!--<form>
                            <div class="col-md-3 col-sm-3">
                                <input type="text" class="form-control" placeholder="Anywhere...">
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input type="text" class="form-control" placeholder="Keyword. Design, Seo..">
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <select class="form-control" id="j-category">
                                    <option value="">&nbsp;</option>
                                    <option value="1">Admin Support</option>
                                    <option value="2">Customer Service</option>

                                </select>

                            </div>
                            <div class="col-md-3 col-sm-3">
                                <button type="submit" class="btn btn-primary full-width">Filter</button>
                            </div>
                        </form>-->
                </div>
            </div>
            <!-- search filter End -->
                <jhi-alert-error></jhi-alert-error>

                <jhi-alert></jhi-alert>
                <div class="alert alert-warning" id="no-result" *ngIf="applications?.length === 0">
                    <span jhiTranslate="enisIntershipApp.application.home.notFound">No applications  found</span>
                </div>
            <!-- Freelancers Style 2 Start -->
            <div class="row" *ngIf="applications?.length > 0" >


                <!-- Single Freelancer Style 2 -->
                <div class="col-md-4 col-sm-6" *ngFor="let application of applications ;trackBy: trackId">
                    <div class="top-candidate-wrap style-2" >
                        <div class="top-candidate-box">

                            <span *ngIf="application.cv" (click)="openFile(application.cvContentType, application.cv)"class="tpc-status">Voir CV</span>


                            <div class="tp-candidate-inner-box">
                                <div class="top-candidate-box-thumb"  *ngIf="application.student?.photo" (click)="openFile(application.student?.photoContentType, application.student?.photo)">
                                    <img [src]="'data:' + application.student.photoContentType + ';base64,' + application.student?.photo" class="img-responsive img-circle" alt="" />
                                </div>

                                <div class="top-candidate-box-detail" *ngIf="application.student">
                                    <h4 [routerLink]="['/views',application.student.id ,'student-profile']">{{application.student.user.firstName}} {{application.student.user.lastName}}</h4>
                                    <span class="location">{{application.student.user.email}}</span>
                                </div>
                                <!--<div class="rattings">
                                    <i class="fa fa-star fill"></i>
                                    <i class="fa fa-star fill"></i>
                                    <i class="fa fa-star fill"></i>
                                    <i class="fa fa-star-half fill"></i>
                                    <i class="fa fa-star"></i>
                                </div>-->
                            </div>

                            <button class="btn btn-candidate-two bg-info" (click)="invit(application)">Inviter à un entretien</button>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 col-sm-12">
                    <div *ngIf="applications?.length > 0">
                        <div class="row justify-content-center">
                            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                        </div>

                        <div class="row justify-content-center">
                            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                        </div>
                    </div>
                </div>


            </div>


        </div>

  </section>

</div>
