<div>
    <h2 id="page-heading">
        <span jhiTranslate="enisIntershipApp.academicSupervisor.home.title">Academic Supervisors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-academic-supervisor" [routerLink]="['/academic-supervisor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enisIntershipApp.academicSupervisor.home.createLabel">
            Create a new Academic Supervisor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="academicSupervisors?.length === 0">
        <span jhiTranslate="enisIntershipApp.academicSupervisor.home.notFound">No academicSupervisors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="academicSupervisors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.academicSupervisor.photo">Photo</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.academicSupervisor.city">City</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.academicSupervisor.country">Country</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.academicSupervisor.postalCode">Postal Code</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.academicSupervisor.phoneNumber">Phone Number</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.academicSupervisor.grade">Grade</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.academicSupervisor.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.academicSupervisor.department">Department</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let academicSupervisor of academicSupervisors ;trackBy: trackId">
                    <td><a [routerLink]="['/academic-supervisor', academicSupervisor.id, 'view']">{{ academicSupervisor.id }}</a></td>
                    <td>
                        <a *ngIf="academicSupervisor.photo" (click)="openFile(academicSupervisor.photoContentType, academicSupervisor.photo)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="academicSupervisor.photo">{{ academicSupervisor.photoContentType }}, {{ byteSize(academicSupervisor.photo) }}</span>
                    </td>
                    <td>{{ academicSupervisor.city }}</td>
                    <td>{{ academicSupervisor.country }}</td>
                    <td>{{ academicSupervisor.postalCode }}</td>
                    <td>{{ academicSupervisor.phoneNumber }}</td>
                    <td>{{ academicSupervisor.grade }}</td>
                    <td>
                        {{ academicSupervisor.user?.id }}
                    </td>
                    <td>
                        <div *ngIf="academicSupervisor.department">
                            <a [routerLink]="['/department', academicSupervisor.department?.id, 'view']" >{{ academicSupervisor.department?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/academic-supervisor', academicSupervisor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/academic-supervisor', academicSupervisor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(academicSupervisor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
