<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="academicSupervisor">
            <h2><span jhiTranslate="enisIntershipApp.academicSupervisor.detail.title">Academic Supervisor</span> {{ academicSupervisor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enisIntershipApp.academicSupervisor.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="academicSupervisor.photo">
                        <a (click)="openFile(academicSupervisor?.photoContentType!, academicSupervisor?.photo)" jhiTranslate="entity.action.open">open</a>
                        {{ academicSupervisor.photoContentType }}, {{ byteSize(academicSupervisor.photo) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.academicSupervisor.city">City</span></dt>
                <dd>
                    <span>{{ academicSupervisor.city }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.academicSupervisor.country">Country</span></dt>
                <dd>
                    <span>{{ academicSupervisor.country }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.academicSupervisor.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{ academicSupervisor.postalCode }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.academicSupervisor.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ academicSupervisor.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.academicSupervisor.grade">Grade</span></dt>
                <dd>
                    <span>{{ academicSupervisor.grade }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.academicSupervisor.user">User</span></dt>
                <dd>
                    {{ academicSupervisor.user?.id }}
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.academicSupervisor.department">Department</span></dt>
                <dd>
                    <div *ngIf="academicSupervisor.department">
                        <a [routerLink]="['/department', academicSupervisor.department?.id, 'view']">{{ academicSupervisor.department?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/academic-supervisor', academicSupervisor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
