<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="affectation">
            <h2><span jhiTranslate="enisIntershipApp.affectation.detail.title">Affectation</span> {{ affectation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enisIntershipApp.affectation.dateAffectation">Date Affectation</span></dt>
                <dd>
                    <span>{{ affectation.dateAffectation }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.affectation.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ affectation.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.affectation.endDate">End Date</span></dt>
                <dd>
                    <span>{{ affectation.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.affectation.student">Student</span></dt>
                <dd>
                    <div *ngIf="affectation.student">
                        <a [routerLink]="['/student', affectation.student?.id, 'view']">{{ affectation.student?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enisIntershipApp.affectation.internship">Internship</span></dt>
                <dd>
                    <div *ngIf="affectation.internship">
                        <a [routerLink]="['/internship', affectation.internship?.id, 'view']">{{ affectation.internship?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/affectation', affectation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
