<div>
    <h2 id="page-heading">
        <span jhiTranslate="enisIntershipApp.affectation.home.title">Affectations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-affectation" [routerLink]="['/affectation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="enisIntershipApp.affectation.home.createLabel">
            Create a new Affectation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="affectations?.length === 0">
        <span jhiTranslate="enisIntershipApp.affectation.home.notFound">No affectations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="affectations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.affectation.dateAffectation">Date Affectation</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.affectation.startDate">Start Date</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.affectation.endDate">End Date</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.affectation.student">Student</span></th>
                    <th scope="col" ><span jhiTranslate="enisIntershipApp.affectation.internship">Internship</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let affectation of affectations ;trackBy: trackId">
                    <td><a [routerLink]="['/affectation', affectation.id, 'view']">{{ affectation.id }}</a></td>
                    <td>{{ affectation.dateAffectation | date:'medium' }}</td>
                    <td>{{ affectation.startDate | date:'medium' }}</td>
                    <td>{{ affectation.endDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="affectation.student">
                            <a [routerLink]="['/student', affectation.student?.id, 'view']" >{{ affectation.student?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="affectation.internship">
                            <a [routerLink]="['/internship', affectation.internship?.id, 'view']" >{{ affectation.internship?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/affectation', affectation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/affectation', affectation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(affectation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
